{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}{{ develop.name }} | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="development-cover cover parallax" style="background-image: url('{% static "img/indiana-cover-temp.jpg" %}')">
    <img src="{% static "img/indiana-temp.png" %}" >
  </div>
  <div class="development-header-text">
    Nuestro desarrollo cuenta con 6 exclusivos condos y un increíble Roof Garden común.
  </div>
  <div class="gray-container development-download-brochure">
    <div>
      <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
      <input type="email" id="download-brochure-email" placeholder="Correo electrónico">
      <a href="{% url 'developments:download_brochure' id=develop.id %}" class="vre-inverse-button" id="download-brochure-button">Conoce más</a>
    </div>
  </div>
  <div class="development-360-video text-center">
    Dale click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="http://dwmx.com/VRE/Indiana/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
  <div class="development-characteristics">
    Características<br>
    de los departamentos:
    <ul class="development-characteristics-items">
      <li class="development-characteristics-item">Sala</li>
      <li class="development-characteristics-item">Cuarto de servicio</li>
      <li class="development-characteristics-item">Dos Baños completos</li>
      <li class="development-characteristics-item">Comedor</li>
      <li class="development-characteristics-item">Un Medio baño</li>
      <li class="development-characteristics-item">Clóset</li>
      <li class="development-characteristics-item">Vestidor</li>
      <li class="development-characteristics-item">Cocina equipada</li>
      <li class="development-characteristics-item">Dos recámaras</li>
      <li class="development-characteristics-item">Uno o dos cajones de estacionamiento</li>
    </ul>
  </div>
  <div class="development-carousel">
    
  </div>
  <div class="development-drawings gray-container text-center">
    <div class="drawing-selectors">
      <div class="drawing-selector active">101</div>
      <div class="drawing-selector">102</div>
      <div class="drawing-selector">201</div>
    </div>
    <div class="drawing-picture">
      Departamento 101
    </div>
    <div class="drawing-picture">
      Departamento 301
    </div>
    <div class="drawing-selectors">
      <div class="drawing-selector">202</div>
      <div class="drawing-selector active">301</div>
      <div class="drawing-selector">302</div>
    </div>
  </div>
</main>
{% endblock %}