{% extends "base.html" %}
{% load static from staticfiles %}
{% block description %}Seis exclusivos departamentos y un íncreible Roof Garden, todo a media cuadra del Parque Hundido{% endblock %}
{% block title %}Carolina 149, a media cuadra del Parque Hundido | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}


<main id="sections-content">

  <div class="vre-develop-cover">
    <h1 class="cover-title">Carolina 149</h1>
    <h2 class="cover-subtitle">Colonia Noche Buena</h2>
    <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/carolina-149">Cotizar o Apartar</a>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3>Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="{% static "img/vre/metros.png" %}" alt="Carolina 149 112.5 metros cuadrados" />
            <p>112.5 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/recamaras.png" %}" alt="Carolina 149 3 Recamaras" />
            <p>3 Recamaras</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/banio.png" %}" alt="Carolina 149 2.0 Baños" />
            <p>2.0 Baños</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/estacionamiento.png" %}" alt="Carolina 149 2 Lugares Estacionamiento" />
            <p>2 Lugares E.</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/balcon.png" %}" alt="Carolina 149 Balcón" />
            <p>Balcón</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list">
            <li data-id= "depa101" class="item active">101</li>
            <li data-id= "depa102" class="item">102</li>
            <li data-id= "depa201" class="item">201</li>
            <li data-id= "depa202" class="item">202</li>
            <li data-id= "depa301" class="item">301</li>
            <li data-id= "depa302" class="item">302</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="{% static "img/vre/carolina/carolina-plano-101.jpg" %}" alt="Carolina 149 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3>Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/carolina-149">Cotizar o Apartar</a>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4>Características <span>generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="{% static "img/vre/cocina.png" %}" alt="Carolina 149 Cocina Equipada">
          </div>
          <p>Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/elevador.png" %}" alt="Carolina 149 Elevador"></div>
          <p>Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/roof-garden.png" %}" alt="Carolina 149 Roof Garden"></div>
          <p>Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/bodega.png" %}" alt="Carolina 149 Bodega Privada"></div>
          <p>Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/lavado.png" %}" alt="Carolina 149 Cuarto de Lavado"></div>
          <p>Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/pet-friendly.png" %}" alt="Carolina 149 Pet Friendly / Mascotas"></div>
          <p>Pet Friendly</p>
        </li>
      </ul>
    </div>  
 </div>


  <div class="gray-container development-download-brochure">
    <div class="development-download-brochure__inner">
      <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
      <div id="brochure-form-wrapper"></div>
    </div>
  </div>

  <div class="vre-gallery hide-mobile">
    <ul>
      <li><img class="js-gallery-item" src="{% static "img/vre/carolina/cocina.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/carolina/fachada.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/carolina/recamara.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/carolina/cocina-terraza.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/carolina/fachada-estacionamiento.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/carolina/recamara.jpg" %}" alt=""></li>
    </ul>
  </div>

  <div class="development-carousel-container text-center show-mobile">
    <div class="cover" style="background-image: url('{% static "img/vre/carolina/cocina.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/carolina/fachada.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/carolina/recamara.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/carolina/cocina-terraza.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/carolina/fachada-estacionamiento.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/carolina/recamara.jpg" %}')">
    </div>
  </div>

  <div id="js-gallery-modal" class="vre-gallery-modal">
    <span id="js-modal-close" class="modal-close">&times;</span>
    <div class="modal-content">
      <img id="js-img" src="{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}" alt="Carolina 149 | VRE México">
    </div>
  </div>
  
  <div class="development-360-video text-center">
    Da click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="help-360">Click para comenzar</div>
        <iframe src="https://dwmx.com/VRE/Carolina/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
    <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/carolina-149">Cotizar o Apartar</a>
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.380275, -99.177901], 'Carolina 149');
  addBrochureListener('Carolina', '0da32bde-9150-4094-bb4a-e49c6126795b');
</script>
<script>

window.onload = () => {
 
  const desarrollo = "carolina";
  
  // Events
  [].forEach.call(document.querySelectorAll('li.item'), (el) => {
    el.addEventListener('click', () => {
      actualizar_caracteristicas(el, desarrollo);
    });
  });


  let btnClose = document.querySelector('#js-modal-close');
  let galleryModal = document.querySelector('#js-gallery-modal');
  let galleryImages = document.querySelectorAll('.js-gallery-item');

    
  // Actions
  let closeModal = () => {
    galleryModal.style.display = 'none';
  }

  let openModal = (imgSrc) => {
    let img = document.querySelector('#js-img');
    
    galleryModal.style.display = 'flex';
    img.src = imgSrc;
  }

  // Events
  btnClose.addEventListener('click', closeModal);

  [].forEach.call(document.querySelectorAll('.js-gallery-item'), (el) => {
    el.addEventListener('click', (e) => {
      openModal(e.target.src)
    });
  });
} 

</script>
{% endblock %}
