{% extends "base.html" %}
{% load static from staticfiles %}
{% block description %}Increíbles departamentos en el corazón de la colonia Nápoles{% endblock %}
{% block title %}Chicago 61, en el corazón de la colonia Nápoles | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}


<main id="sections-content">

  <div class="vre-develop-cover cover-chicago">
    <h1 class="cover-title">Chicago 61</h1>
    <h2 class="cover-subtitle">Colonia Nápoles</h2>
    <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/chicago-61">Cotizar o Apartar</a>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3>Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="{% static "img/vre/metros.png" %}" alt="Chicago 61 64.5 Metros Cuadrados" />
            <p>64.5 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/recamaras.png" %}" alt="Chicago 61 2 Recamaras" />
            <p>2 Recámaras</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/banio.png" %}" alt="Chicago 61 2.0 Baños" />
            <p>2.0 Baños</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/estacionamiento.png" %}" alt="Chicago 61 1 Lugar de Estacionamiento" />
            <p>1 Lugar E.</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list">
            <li data-id= "depa101" class="item active">101</li>
            <li data-id= "depa102" class="item">102</li>
            <li data-id= "depa201" class="item">201</li>
            <li data-id= "depa202" class="item">202</li>
            <li data-id= "depa301" class="item">301</li>
            <li data-id= "depa302" class="item">302</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="{% static "img/vre/chicago/chicago-plano-101.jpg" %}" alt="Chicago 61 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3>Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/chicago-61">Cotizar o Apartar</a>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4>Características <span>generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="{% static "img/vre/cocina.png" %}" alt="Chicago 61 Cocina Equipada">
          </div>
          <p>Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/elevador.png" %}" alt="Chicago 61 Elevador"></div>
          <p>Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/roof-garden.png" %}" alt="Chicago 61 Roof Garden Común"></div>
          <p>Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/bodega.png" %}" alt="Chicago 61 Bodega Privada"></div>
          <p>Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/lavado.png" %}" alt="Chicago 61 Cuarto de Lavado"></div>
          <p>Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/pet-friendly.png" %}" alt="Chicago 61 Pet Friendly / Mascotas"></div>
          <p>Pet Friendly</p>
        </li>
      </ul>
    </div>
 </div>


  <div class="gray-container development-download-brochure">
    <div class="development-download-brochure__inner">
      <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
      <div id="brochure-form-wrapper"></div>
    </div>
  </div>

  <div class="vre-gallery">
    <ul>
      <li>
        <a href="{% static "img/vre/chicago/carousel1.jpg" %}" class="swipebox">
          <img class="js-gallery-item" src="{% static "img/vre/chicago/carousel1.jpg" %}" alt="">
        </a>
      </li>
      <li>
        <a href="{% static "img/vre/chicago/carousel2.jpg" %}" class="swipebox">
          <img class="js-gallery-item" src="{% static "img/vre/chicago/carousel2.jpg" %}" alt="">
        </a>
      </li>
      <li>
        <a href="{% static "img/vre/chicago/carousel3.jpg" %}" class="swipebox">
          <img class="js-gallery-item" src="{% static "img/vre/chicago/carousel3.jpg" %}" alt="">
        </a>
      </li>
      <li>
        <a href="{% static "img/vre/chicago/carousel4.jpg" %}" class="swipebox">
          <img class="js-gallery-item" src="{% static "img/vre/chicago/carousel4.jpg" %}" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="{% static "img/vre/chicago/carousel5.jpg" %}" class="swipebox">
          <img class="js-gallery-item" src="{% static "img/vre/chicago/carousel5.jpg" %}" alt="">
        </a>
      </li>
      <li class="gallery-item--hidden">
        <a href="{% static "img/vre/chicago/carousel6.jpg" %}" class="swipebox">
          <img class="js-gallery-item" src="{% static "img/vre/chicago/carousel6.jpg" %}" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="development-360-video text-center">
    Da click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="help-360">Click para comenzar</div>
        <iframe src="https://www.dwmx.com/VRE/Chicago/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
    <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/chicago-61">Cotizar o Apartar</a>
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.397481, -99.174528], 'Chicago 61');
  addBrochureListener('Chicago', 'db5268b5-d4d5-44b9-906a-207dc8c181f8');
</script>
<script>

window.onload = () => {

  const desarrollo = "chicago";

  // Events
  [].forEach.call(document.querySelectorAll('li.item'), (el) => {
    el.addEventListener('click', () => {
      actualizar_caracteristicas(el, desarrollo);
    });
  });
}
</script>
<script type="text/javascript">
;( function( $ ) {

	$( '.swipebox' ).swipebox();

} )( jQuery );
</script>
{% endblock %}
