{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Carolina 149 | VRE Mexico{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="development-cover cover parallax" style="background-image: url('{% static "img/tmp/carolina_cover.jpg" %}')">
    <img src="{% static "img/tmp/carolina_full_white_name.png" %}" alt="Carolina logo">
  </div>
  <div class="development-header-text">
    Aprovecha nuestra primera etapa de preventa<br>
    6 exclusivos condos y un íncreible Roof Garden
  </div>
  <div class="gray-container development-download-brochure">
    <div class="development-download-brochure__inner">
      <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
      <div id="brochure-form-wrapper"></div>
    </div>
  </div>
  {% comment %}
  <div class="development-360-video text-center">
    Dale click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="help-360">Click para comenzar</div>
        <iframe src="https://www.dwmx.com/VRE/Chicago/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
  {% endcomment %}
  <div class="development-characteristics">
    <div class="text-center">Características de los departamentos</div>
    <ul class="development-characteristics-items">
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/living_room_icon.png" %}" alt="living room icon">
        <span>Sala</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/service_room_icon.png" %}" alt="service room icon">
        <span>Cuarto de servicio</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/full_bathroom_icon.png" %}" alt="bathroom icon">
        <span>Dos baños</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/dinning_room_icon.png" %}" alt="dinning room icon">
        <span>Comedor</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/closet_icon.png" %}" alt="closet icon">
        <span>Clóset</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/private_cellar_icon.png" %}" alt="private cellar icon">
        <span>Bodega privada</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/kitchen_icon.png" %}" alt="kitchen icon">
        <span>Cocina equipada</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/bedroom_icon.png" %}" alt="bedroom icon">
        <span>3 o 2 recámaras</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/parking_lot_icon.png" %}" alt="parking icon">
        <span>2 o 1 cajón de estacionamiento</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/flat_room_icon.png" %}" alt="dinning room icon">
        <span>Roof Garden privado*</span>
      </li>
      <li class="development-characteristics-item">
      </li>
      <li class="development-characteristics-item">
      </li>
      <div>*Aplica solamente en departamentos 301 y 302</div>
    </ul>
  </div>
  {% comment %}
  <div class="development-carousel-container text-center">
    <div class="cover" style="background-image: url('{% static "img/tmp/carolina_carousel_01.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/carolina_cover.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/carolina_carousel_02.jpg" %}')">
    </div>
  </div>
  {% endcomment %}
  <div class="development-drawings gray-container text-center">
    <div class="drawing-selectors">
      <div class="drawing-selector active">101</div>
      <div class="drawing-selector">102</div>
      <div class="drawing-selector">201</div>
    </div>
    <div class="drawing-picture">
      Departamento <span>101</span>
      <img src="{% static "img/tmp/carolina_department_101.png" %}" class="show" data-department="101" alt="carolina department 101">
      <img src="{% static "img/tmp/carolina_department_102.png" %}" class="hide" data-department="102" alt="carolina department 102">
      <img src="{% static "img/tmp/carolina_department_201_301.png" %}" class="hide" data-department="201" alt="carolina department 201">
    </div>
    <div class="drawing-picture">
      Departamento <span>202</span>
      <img src="{% static "img/tmp/carolina_department_202_302.png" %}" class="hide" data-department="202" alt="carolina department 202 ">
      <img src="{% static "img/tmp/carolina_department_201_301.png" %}" class="show" data-department="301" alt="carolina department 301">
      <img src="{% static "img/tmp/carolina_department_202_302.png" %}" class="hide" data-department="302" alt="carolina department 302">
    </div>
    <div class="drawing-selectors">
      <div class="drawing-selector">202</div>
      <div class="drawing-selector active">301</div>
      <div class="drawing-selector">302</div>
    </div>
  </div>
  <div class="development-nearby-places">
    <div id="location-map" class="location-map"></div>
    <div class="points-of-interest">
      <span>Lugares de interés</span>
      <ul>
        <li>
          <!-- <img src="{% static "img/tmp/icons/hip_icon.png" %}" alt="hip icon"> -->
          <span>Superama: 5 min (650 m) Caminando</span>
        </li>
        <li>
          <!-- <img src="{% static "img/tmp/icons/cdmx_icon.png" %}" alt="cdmx icon"> -->
          <span>Ego´s Gym: 4 min (550 m) Caminando</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/hip_icon.png" %}" alt="aicm icon">
          <span>Hospital Star Médica HIP: 5 min (1.5 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/cdmx_icon.png" %}" alt="antara fashion icon">
          <span>Angel de la Independencia: 27 min (6 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/aicm_icon.png" %}" alt="santafe icon">
          <span>Aeropuerto CDMX: 28 min (14 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/antara_fashion_icon.png" %}" alt="antara fashion icon">
          <span>Antara Fashion Hall: 35 min (10 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/santafe_icon.png" %}" alt="santafe icon">
          <span>Centro Comercial Santa Fe: 45 min (17 km)</span>
        </li>
      </ul>
      <div class="note">* Tiempo estimado a las 9:00 am entre semana</div>
    </div>
  </div>
  <div class="development-public-transport gray-container">
    <div class="transport-title text-center"><img src="{% static "img/icons/transport_icon.png" %}" alt="Transporte público">Transporte Público</div>
    <div class="transport-items-container">
      <div class="transport-items-column">
        <div class="transport-item">
          <span class="semibold">Metrobús: </span>
          Parada Parque Hundido (200 m)
        </div>
        <div class="transport-item">
          <span class="semibold">Metro: </span>
          Estación San Antonio (1.1 km)
        </div>
        <div class="transport-item">
          <span class="semibold">Ecobici: </span>
          Estación 367 (290 m)
        </div>
      </div>
      <div class="transport-items-column">
        <div class="transport-item">
          <span class="semibold">Walking Score ® : </span>
          98 (Un paraíso para el peatón)
        </div>
        <div class="transport-item">
          <span class="semibold">Ciclovía: </span>
          Cto interior (800 m)
        </div>
      </div>
    </div>
    <div class="transport-separated-text">
      Vida diaria no requiere el uso del coche
    </div>
  </div>
  <div class="development-built-by">
    Construido por <img src="{% static "img/icons/zago-logo.png" %}" alt="zago logo">
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.380275, -99.177901], 'Carolina 149');
  addBrochureListener('Carolina', 'db5268b5-d4d5-44b9-906a-207dc8c181f8');
</script>
{% endblock %}