{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Indiana 176 | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="development-cover cover parallax" style="background-image: url('{% static "img/tmp/indiana_cover.jpg" %}')">
    <img src="{% static "img/tmp/indiana_full_white_name.png" %}" >
  </div>
  <div class="development-header-text">
    Nuestro desarrollo cuenta con 6 exclusivos condos y un increíble Roof Garden común.
  </div>
  <div class="gray-container development-download-brochure">
    <div>
	    <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
	    <form id="indiana-brochure-form">
		    {% csrf_token %}
		    <input type="email" id="download-brochure-email" placeholder="Correo electrónico" name="email">
		    <input type="hidden" name="source" value="indiana">
		    <a href class="vre-inverse-button" id="download-brochure-button">
			    Conoce más
		    </a>
	    </form>
    </div>
  </div>
  <div class="development-360-video text-center">
    Dale click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="http://dwmx.com/VRE/Indiana/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
  <div class="development-characteristics">
    Características<br>
    de los departamentos:
    <ul class="development-characteristics-items">
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/living_room_icon.png" %}" alt="">
        <span>Sala</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/service_room_icon.png" %}" alt="">
        <span>Cuarto de servicio</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/full_bathroom_icon.png" %}" alt="">
        <span>Dos Baños completos</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/dinning_room_icon.png" %}" alt="">
        <span>Comedor</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/bathroom_icon.png" %}" alt="">
        <span>Un Medio baño</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/closet_icon.png" %}" alt="">
        <span>Clóset</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/dressing_room_icon.png" %}" alt="">
        <span>Vestidor</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/kitchen_icon.png" %}" alt="">
        <span>Cocina equipada</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/bedroom_icon.png" %}" alt="">
        <span>Dos recámaras</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/parking_lot_icon.png" %}" alt="">
        <span>Uno o dos cajones de estacionamiento</span>
      </li>
    </ul>
  </div>
  <div class="development-carousel-container text-center">
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_01.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_02.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_03.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_04.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_05.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_06.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_07.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/indiana_carousel_08.jpg" %}')">
    </div>
  </div>
  <div class="development-drawings gray-container text-center">
    <div class="drawing-selectors">
      <div class="drawing-selector active">101</div>
      <div class="drawing-selector">102</div>
      <div class="drawing-selector">201</div>
    </div>
    <div class="drawing-picture">
      Departamento <span>101</span>
      <img src="{% static "img/tmp/indiana_department_101.png" %}" class="show" data-department="101">
      <img src="{% static "img/tmp/indiana_department_102.png" %}" class="hide" data-department="102">
      <img src="{% static "img/tmp/indiana_department_201_301.png" %}" class="hide" data-department="201">
    </div>
    <div class="drawing-picture">
      Departamento <span>301</span>
      <img src="{% static "img/tmp/indiana_department_202_302.png" %}" class="hide" data-department="202">
      <img src="{% static "img/tmp/indiana_department_201_301.png" %}" class="show" data-department="301">
      <img src="{% static "img/tmp/indiana_department_202_302.png" %}" class="hide" data-department="302">
    </div>
    <div class="drawing-selectors">
      <div class="drawing-selector">202</div>
      <div class="drawing-selector active">301</div>
      <div class="drawing-selector">302</div>
    </div>
  </div>
  <div class="development-nearby-places">
    <div id="location-map" class="location-map"></div>
    <div class="points-of-interest">
      <span>Lugares de interés</span>
      <ul>
        <li>
          <img src="{% static "img/tmp/icons/british_college_icon.png" %}" alt="">
          <span>Colegio británico: 3 min (500m)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/aqua_gym_icon.png" %}" alt="">
          <span>Aqua Gym: 4 min (280m)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/hip_icon.png" %}" alt="">
          <span>Hospital Star Médica HIP: 5 min (1.5 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/cdmx_icon.png" %}" alt="">
          <span>Angel de la Independencia: 20 min (5.7 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/aicm_icon.png" %}" alt="">
          <span>Aeropuerto CDMX: 25 min (13.6 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/antara_fashion_icon.png" %}" alt="">
          <span>Antara Fashion Hall: 30 min (7.7 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/santafe_icon.png" %}" alt="">
          <span>Centro Comercial Santa Fe: 45 min (14 km)</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="development-public-transport gray-container">
    <div class="transport-title text-center"><img src="{% static "img/icons/transport_icon.png" %}" alt="Transporte público">Transporte Público</div>
    <div class="transport-items-container">
      <div class="transport-items-column">
        <div class="transport-item">
          <span class="semibold">Metrobús: </span>
          Parada Colonia del Valle (450m)
        </div>
        <div class="transport-item">
          <span class="semibold">Metro: </span>
          Estación San Antonio (1 km)
        </div>
        <div class="transport-item">
          <span class="semibold">Ecobici: </span>
          Estación 349 (350 m)
        </div>
        <div class="transport-item">
          <span class="semibold">Ciclovía: </span>
          Calle Dakota (200 m)
        </div>
      </div>
      <div class="transport-items-column">
        <div class="transport-item">
          Vida diaria no requiere el uso del coche
        </div>
        <div class="transport-item">
          <span class="semibold">Walking Score ® : </span>
          97 (Un paraíso para el peatón)
        </div>
        <div class="transport-item">
          <span class="semibold">Descarga la App <img class="appstore-download" src="{% static "img/icons/appstore_icon.png" %}" alt=""></span>
        </div>
      </div>
    </div>
  </div>
  <div class="development-built-by">
    Construido por <a href="http://www.grupozago.com.mx"><img src="{% static "img/icons/zago-logo.png" %}" alt=""></a> 
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.386183, -99.178583], 'Indiana 176');
  $("#download-brochure-button").on( "click", function(e) {
	  e.preventDefault();
	  $.ajax({
	    url: "{% url 'newsletter:suscribe' %}",
      type : 'POST',
	    data: $('#indiana-brochure-form').serialize(),
	    beforeSend: function() {
		    ga('send', 'event', 'BrochureIndiana', 'ok');
	    },
		  complete: function(data) {
        window.location.href = "{% url 'developments:download_brochure' id=1 %}";
      }
	  });
	});
</script>
{% endblock %}