{% extends "base.html" %}
{% load static from staticfiles %}
{% block description %}Vive en la colonia del valle norte, increibles departamentos{% endblock %}
{% block title %}Concepción Beistegui 512 | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}


<main id="sections-content">

  <div class="vre-develop-cover">
    <h1 class="cover-title">C. Beistegui 512</h1>
    <h2 class="cover-subtitle">Colonia del Valle Norte</h2>
    <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/c-beistegui-512">Cotizar o Apartar</a>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3>Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="{% static "img/vre/metros.png" %}" alt="Beistegui 512 168.2 Metros Cuadrados" />
            <p>168.2 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/recamaras.png" %}" alt="Beistegui 512 2 Recamaras" />
            <p>2 Recamaras</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/banio.png" %}" alt="Beistegui 512 2.5 Baños" />
            <p>2.5 Baños</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/estacionamiento.png" %}" alt="Beistegui 512 1 Lugar Estacionamiento" />
            <p>1 Lugar E.</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/terraza.png" %}" alt="Beistegui 512 Terraza" />
            <p>Terraza</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/balcon.png" %}" alt="Beistegui 512 Balcón" />
            <p>Balcón</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list">
            <li data-id= "depa101" class="item active">101</li>
            <li data-id= "depa102" class="item">102</li>
            <li data-id= "depa201" class="item">201</li>
            <li data-id= "depa202" class="item">202</li>
            <li data-id= "depa301" class="item">301</li>
            <li data-id= "depa302" class="item">302</li>
            <li data-id= "depa401" class="item">401</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="{% static "img/vre/beistegui/beistegui-plano-101.png" %}" alt="Beistegui 512 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3>Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/c-beistegui-512">Cotizar o Apartar</a>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4>Características <span>generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="{% static "img/vre/cocina.png" %}" alt="Beistegui 512 Cocina Equipada">
          </div>
          <p>Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/elevador.png" %}" alt="Beistegui 512 Elevador"></div>
          <p>Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/roof-garden.png" %}" alt="Beistegui 512 Roof Garden"></div>
          <p>Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/bodega.png" %}" alt="Beistegui 512 Bodega Privada"></div>
          <p>Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/lavado.png" %}" alt="Beistegui 512 Cuarto de Lavado"></div>
          <p>Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/pet-friendly.png" %}" alt="Beistegui 512 Pet Friendly / Mascotas"></div>
          <p>Pet Friendly</p>
        </li>
      </ul>
    </div>  
 </div>


  <div class="gray-container development-download-brochure">
    <div class="development-download-brochure__inner">
      <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
      <div id="brochure-form-wrapper"></div>
    </div>
  </div>

  <div class="vre-gallery hide-mobile">
    <ul>
      <li><img class="js-gallery-item" src="{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}" alt="Beistegui Comedor Cocina"></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/beistegui/beistegui-fachada.jpg" %}" alt="Beistegui Fachada"></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/beistegui/beistegui-recamara.jpg" %}" alt="Beistegui Recamara"></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/beistegui/beistegui-sala-comerdor-cocina.jpg" %}" alt="Beistegui Sala Comedor Cocina"></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}" alt=""></li>
    </ul>
  </div>

  <div class="development-carousel-container text-center show-mobile">
    <div class="cover" style="background-image: url('{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/beistegui/beistegui-fachada.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/beistegui/beistegui-recamara.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/beistegui/beistegui-sala-comerdor-cocina.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}')">
    </div>
  </div>

  <div id="js-gallery-modal" class="vre-gallery-modal">
    <span id="js-modal-close" class="modal-close">&times;</span>
    <div class="modal-content">
      <img id="js-img" src="{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}" alt="Beistegui 512 | VRE México">
    </div>
  </div>
   <div class="vre-develop-3d" style="margin-bottom: 10px;">
    <div style="position: relative; padding-bottom:56.25%; padding-top: 30px; height: 0; overflow: hidden;">
      <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://spaces.archilogic.com/3d/!30e88a42-2bbf-4eae-bfe5-139c8b2e542c?mode=view&main-menu=none&view-menu=none&presentation=once&editable=false" width="400" height="640" frameBorder="0" onmousewheel="false" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
    </div>
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.3901418, -99.16869600000001], 'Beistegui 512');
  addBrochureListener('Beistegui', '81ee6c84-f8ed-4fdc-a6d4-44911a8ec010');
</script>
<script>

window.onload = () => {
 
  const desarrollo = "beistegui";
  
  // Events
  [].forEach.call(document.querySelectorAll('li.item'), (el) => {
    el.addEventListener('click', () => {
      actualizar_caracteristicas(el, desarrollo);
    });
  });


  let btnClose = document.querySelector('#js-modal-close');
  let galleryModal = document.querySelector('#js-gallery-modal');
  let galleryImages = document.querySelectorAll('.js-gallery-item');

    
  // Actions
  let closeModal = () => {
    galleryModal.style.display = 'none';
  }

  let openModal = (imgSrc) => {
    let img = document.querySelector('#js-img');
    
    galleryModal.style.display = 'flex';
    img.src = imgSrc;
  }

  // Events
  btnClose.addEventListener('click', closeModal);

  [].forEach.call(document.querySelectorAll('.js-gallery-item'), (el) => {
    el.addEventListener('click', (e) => {
      openModal(e.target.src)
    });
  });
} 

</script>
{% endblock %}
