{% extends "base.html" %}
{% load static from staticfiles %}
{% block description %}Departamentos a unas cuadras de los mejores restaurantes de la ciudad{% endblock %}
{% block title %}Tlacotalpan 146, cerca de los mejores restaurantes | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}


<main id="sections-content">

  <div class="vre-develop-cover cover-tlacotalpan">
    <h1 class="cover-title">Tlacotalpan 146</h1>
    <h2 class="cover-subtitle">Colonia Roma</h2>
    <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/tlacotalpan-146">Cotizar o Apartar</a>
  </div>

  <div class="vre-develop-department-ubication">
    <div class="develop-department">
      <h3>Departamentos
        <div class="line"></div>
      </h3>
      <div class="department-icons">
        <ul class="icons-list">
          <li class="list-item">
            <img src="{% static "img/vre/metros.png" %}" alt="Tlacotalpan 146 73.8 Metros Cuadrados" />
            <p>73.8 m&sup2;</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/recamaras.png" %}" alt="Tlacotalpan 146 2 Recamaras" />
            <p>2 Recámaras</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/banio.png" %}" alt="Tlacotalpan 146 2.5 Baños" />
            <p>2.5 Baños</p>
          </li>
          <li class="list-item">
            <img src="{% static "img/vre/estacionamiento.png" %}" alt="Tlacotalpan 146 2 Lugares de Estacionamiento" />
            <p>2 Lugares E.</p>
          </li>
        </ul>
      </div>
      <div class="department-num-img">
        <div class="department-num">
          <ul class="num-list">
            <li data-id= "depa101" class="item active">101</li>
            <li data-id= "depa102" class="item">102</li>
            <li data-id= "depa201" class="item">201</li>
            <li data-id= "depa301" class="item">301</li>
          </ul>
        </div>
        <div class="department-img">
          <img src="{% static "img/vre/tlacotalpan/tlacotalpan-plano-101.jpg" %}" alt="Tlacotalpan 146 | VRE México">
        </div>
      </div>
    </div>
    <div class="develop-ubication">
      <h3>Ubicación
        <div class="line"></div>
      </h3>
      <div class="map">
        <div id="location-map" class="location-map"></div>
      </div>
    </div>
  </div>

  <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/tlacotalpan-146">Cotizar o Apartar</a>

  <div class="vre-characteristics-wrapper">
    <div class="vre-characteristics">
      <h4>Características <span>generales</span></h4>
      <div class="line"></div>
      <ul>
        <li>
          <div class="img-wrapper">
            <img src="{% static "img/vre/cocina.png" %}" alt="Tlacotalpan 146 Cocina Equipada">
          </div>
          <p>Cocina equipada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/elevador.png" %}" alt="Tlacotalpan 146 Elevador"></div>
          <p>Elevador</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/roof-garden.png" %}" alt="Tlacotalpan 146 Roof Garden Común"></div>
          <p>Roof Garden común</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/bodega.png" %}" alt="Tlacotalpan 146 Bodega Privada"></div>
          <p>Bodega privada</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/lavado.png" %}" alt="Tlacotalpan 146 Cuarto de Lavado"></div>
          <p>Cuarto de lavado</p>
        </li>
        <li>
          <div class="img-wrapper"><img src="{% static "img/vre/pet-friendly.png" %}" alt="Tlacotalpan 146 Pet Friendly / Mascotas"></div>
          <p>Pet Friendly</p>
        </li>
      </ul>
    </div>
 </div>


  <div class="gray-container development-download-brochure">
    <div class="development-download-brochure__inner">
      <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
      <div id="brochure-form-wrapper"></div>
    </div>
  </div>

  <div class="vre-gallery hide-mobile">
    <ul>
      <li><img class="js-gallery-item" src="{% static "img/vre/tlacotalpan/carousel1.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/tlacotalpan/carousel2.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/tlacotalpan/carousel3.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/tlacotalpan/carousel4.jpg" %}" alt=""></li>
      <li><img class="js-gallery-item" src="{% static "img/vre/tlacotalpan/carousel5.jpg" %}" alt=""></li>
    </ul>
  </div>

  <div class="development-carousel-container text-center show-mobile">
    <div class="cover" style="background-image: url('{% static "img/vre/tlacotalpan/carousel1.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/tlacotalpan/carousel2.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/tlacotalpan/carousel3.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/tlacotalpan/carousel4.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/vre/tlacotalpan/carousel5.jpg" %}')">
    </div>
  </div>

  <div id="js-gallery-modal" class="vre-gallery-modal">
    <span id="js-modal-close" class="modal-close">&times;</span>
    <div class="modal-content">
      <img id="js-img" src="{% static "img/vre/beistegui/beistegui-comedor-cocina.jpg" %}" alt="Tlacotalpan 146 | VRE México">
    </div>
  </div>

  <div class="development-360-video text-center">
    Da click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="help-360">Click para comenzar</div>
        <iframe src="https://www.dwmx.com/VRE/Tlacotalpan/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
    <a class="btn--cotizar" href="https://cotiza.vre.com.mx/collections/tlacotalpan-146">Cotizar o Apartar</a>
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.402214, -99.165347], 'Tlacotalpan 146');
  addBrochureListener('Tlacotalpan', '0c4378ea-24a3-48f1-a343-808b2382b645');
</script>
<script>

window.onload = () => {

  const desarrollo = "tlacotalpan";

  // Events
  [].forEach.call(document.querySelectorAll('li.item'), (el) => {
    el.addEventListener('click', () => {
      actualizar_caracteristicas(el, desarrollo);
    });
  });


  let btnClose = document.querySelector('#js-modal-close');
  let galleryModal = document.querySelector('#js-gallery-modal');
  let galleryImages = document.querySelectorAll('.js-gallery-item');


  // Actions
  let closeModal = () => {
    galleryModal.style.display = 'none';
  }

  let openModal = (imgSrc) => {
    let img = document.querySelector('#js-img');

    galleryModal.style.display = 'flex';
    img.src = imgSrc;
  }

  // Events
  btnClose.addEventListener('click', closeModal);

  [].forEach.call(document.querySelectorAll('.js-gallery-item'), (el) => {
    el.addEventListener('click', (e) => {
      openModal(e.target.src)
    });
  });
}

</script>
{% endblock %}
