{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Tlacotalpan 146 | VRE Mexico{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="development-cover cover parallax" style="background-image: url('{% static "img/tmp/tlacotalpan_cover.jpg" %}')">
    <img src="{% static "img/tmp/tlacotalpan_full_white_name.png" %}" alt="Tlacotalpan logo">
  </div>
  <div class="development-header-text tlacotalpan">
    Vive a un par de cuadras de los mejores restaurantes de la ciudad.<br>
    Departamentos desde 73 hasta 155m2.
  </div>
  <div class="gray-container development-download-brochure">
    <div>
      <span>Si quieres más información, descarga aquí nuestro brochure de ventas</span>
      <form id="download-brochure-form">
        {% csrf_token %}
        <input type="email" id="download-brochure-email" placeholder="Correo electrónico" name="email">
        <input type="hidden" name="source" value="tlacotalpan">
        <span id="download-brochure-span" style="display:block;"></span>
        <a href class="vre-inverse-button" id="download-brochure-button">Conoce más</a>
      </form>
    </div>
  </div>
  <div class="development-360-video text-center">
    Dale click sobre la imagen y vive el departamento
    <div class="container-360">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="http://www.dwmx.com/VRE/Tlacotalpan/" frameborder="0" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
  <div class="development-characteristics">
    <div class="text-center">Características de los departamentos</div>
    <ul class="development-characteristics-items">
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/living_room_icon.png" %}" alt="living room icon">
        <span>Sala</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/service_room_icon.png" %}" alt="service room icon">
        <span>Cuarto de servicio</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/dinning_room_icon.png" %}" alt="dinning room icon">
        <span>Comedor</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/study_icon.png" %}" alt="dinning room icon">
        <span>Estudio*</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/dressing_room_icon.png" %}" alt="dressing room icon">
        <span>Vestidor</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/bedroom_icon.png" %}" alt="bedroom icon">
        <span>Dos a tres recámaras</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/full_bathroom_icon.png" %}" alt="bathroom icon">
        <span>Dos a tres baños completos</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/closet_icon.png" %}" alt="closet icon">
        <span>Clóset</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/kitchen_icon.png" %}" alt="kitchen icon">
        <span>Cocina equipada</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/parking_lot_icon.png" %}" alt="parking icon">
        <span>Uno a tres cajones de estacionamiento</span>
      </li>
      <li class="development-characteristics-item">
        <img src="{% static "img/icons/flat_room_icon.png" %}" alt="dinning room icon">
        <span>Balcón o terraza*</span>
      </li>
      <li class="development-characteristics-item">
      </li>
      <div>*Aplica solamente en algunos departamentos</div>
    </ul>
  </div>
  <div class="development-carousel-container text-center">
    <div class="cover" style="background-image: url('{% static "img/tmp/dakota_carousel_02.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/tlacotalpan_carousel_02.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/dakota_carousel_05.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/dakota_carousel_04.jpg" %}')">
    </div>
    <div class="cover" style="background-image: url('{% static "img/tmp/tlacotalpan_carousel_06.jpg" %}')">
    </div>
  </div>
  <div class="development-drawings gray-container text-center">
    <div class="drawing-selectors">
      <div class="drawing-selector active">101</div>
      <div class="drawing-selector">201</div>
    </div>
    <div class="drawing-picture">
      Departamento <span>101</span>
      <img src="{% static "img/tmp/tlacotalpan_department_101.png" %}" class="show" data-department="101" alt="Tlacotalpan department 101">
      <img src="{% static "img/tmp/tlacotalpan_department_201.png" %}" class="hide" data-department="201" alt="Tlacotalpan department 201">
    </div>
    <div class="drawing-picture">
      Departamento <span>301</span>
      <img src="{% static "img/tmp/tlacotalpan_department_102.png" %}" class="hide" data-department="102" alt="Tlacotalpan department 102 ">
      <img src="{% static "img/tmp/tlacotalpan_department_201.png" %}" class="show" data-department="301" alt="Tlacotalpan department 301">
    </div>
    <div class="drawing-selectors">
      <div class="drawing-selector">102</div>
      <div class="drawing-selector active">301</div>
    </div>
  </div>
  <div class="development-nearby-places">
    <div id="location-map" class="location-map"></div>
    <div class="points-of-interest">
      <span>Lugares de interés</span>
      <ul>
        <li>
          <img src="{% static "img/tmp/icons/angeles_icon.png" %}" alt="hip icon">
          <span>Hospital Angeles México: 4 min (900 m)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/cdmx_icon.png" %}" alt="cdmx icon">
          <span>Angel de la Independencia: 17 min (3 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/aicm_icon.png" %}" alt="aicm icon">
          <span>Aeropuerto CDMX: 27 min (12 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/antara_fashion_icon.png" %}" alt="antara fashion icon">
          <span>Antara Fashion Hall: 24 min (8 km)</span>
        </li>
        <li>
          <img src="{% static "img/tmp/icons/santafe_icon.png" %}" alt="santafe icon">
          <span>Centro Comercial Santa Fe: 36 min (14 km)</span>
        </li>
      </ul>
      <div class="note">* Tiempo estimado a las 9:00 am entre semana</div>
    </div>
  </div>
  <div class="development-public-transport gray-container">
    <div class="transport-title text-center"><img src="{% static "img/icons/transport_icon.png" %}" alt="Transporte público">Transporte Público</div>
    <div class="transport-items-container">
      <div class="transport-items-column">
        <div class="transport-item">
          <span class="semibold">Metrobús: </span>
          Parada Nuevo León (8 min, 600 m)
        </div>
        <div class="transport-item">
          <span class="semibold">Metro: </span>
          Estación Chilpancingo (10 min, 750 m)
        </div>
        <div class="transport-item">
          <span class="semibold">Ecobici: </span>
          Estación Calle Bajío (2 min, 160 m)
        </div>
      </div>
      <div class="transport-items-column">
        <div class="transport-item">
          <span class="semibold">Walking Score ® : </span>
          98 (Un paraíso para el peatón)
        </div>
      </div>
    </div>
    <div class="transport-separated-text">
      Vida diaria no requiere el uso del coche
    </div>
  </div>
  <div class="development-built-by">
    Construido por <img src="{% static "img/icons/zago-logo.png" %}" alt="zago logo">
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.402214, -99.165347], 'Tlacotalpan 146');
  addBrochureListener('BrochureTlacotalpan', 3);
</script>
{% endblock %}
