.vre-triangulo
  position absolute
  top 36%
  left 0
  width 0 
  height 0
  border-left 7px solid #fff
  border-top 7px solid transparent
  border-bottom 7px solid transparent

.develops .vre-items-develop
  max-width 780px

.develops .vre-item-develop
  width 237px !important 

.develops .vre-item-picture
  height 212px !important

.vre-filtro
  font-family 'Open Sans'
  font-weight $fontNormal
  font-style normal
  border-radius 2px
  position absolute
  top 3%
  left: 3%
  color #fff
  text-align center
  font-size 12px
  display flex
  justify-content center
  align-items center
  padding 5px 17px

  & .vre-filtro-text
    margin-top 0
    width 100%

  &.preventa
    background-color #ef8b2e

  &.inmediata
    background-color #ef8b2e

  &.vendido
    background-color #ef662e

.vre-develops
  margin-top 50px

  & .iframe-selector > a
    cursor pointer

body
  font-size $mainFontSize
  font-family 'Open Sans'

a, a:hover, a:active
  text-decoration none !important

.help-360
  background rgba(black, 0.6)
  color white
  z-index 7
  position absolute
  height 100%
  width 100%
  cursor pointer
  display flex
  align-items center
  justify-content center
  font-weight $fontBold

label.error,
.hs-form-field .hs-error-msgs label
  color #f53838
  display block
  margin-top 6px

.hs-error-msgs
  list-style none
  padding 0

#page-wrapper
  height 100%
  overflow-x hidden
  width 100%

body #converse-chat
  *
    font-family 'Open Sans' !important

  #pop-up-message-body
    min-width 130px

  #pop-up-message #pop-up-message-icon
    width 20px
    height 20px
    background-position center
    background-size 30px

.purechat.purechat-bottom-right div.purechat-widget-preview
  left initial !important
  width 80px

.vre-modal
  .modal-dialog
    height 100%
    margin 0 auto

  .modal-content
    border none
    border-radius 0
    box-shadow none
    text-align center
    top 50%
    transform translateY(-50%)

  .modal-header
    color white

  &.success .modal-header
    background #76bb4a

  &.error .modal-header
    background #d43d3d

  .modal-body
    padding 20px

  .modal-footer
    text-align center

    .vre-button
      font-size 15px
      padding 10px 25px

.vre-button, .vre-inverse-button,
.hs-button.primary
  display inline-block
  padding 18px 50px
  transition all 0.2s
  width auto

  &:focus, &:active
    outline none

  &:disabled, &.disabled
    &, &:focus, &:hover, &:active
      background darken($orange, 20%)
      simple-border('all', 2px, darken($orange, 20%))
      color white !important
      pointer-events none

.vre-button
  background-color $orange
  simple-border('all', 0px, $orange)
  color #fff !important

  &:hover, &:active
    background $orange
    color white !important

.vre-inverse-button,
.hs-button
  background $orange
  simple-border('all', 2px, white)
  color white !important

  &:hover, &:active
    background white
    color $orange !important

  &.no-border
    border none

.vre-input,
.hs-input
  background white
  border none
  padding 0.8em 1em

  &:focus
    outline none

textarea.vre-input,
textarea.hs-input
  resize none

.orange-cover-divider
  display flex
  height auto
  min-height 50vh

  .text-part
    background $orange
    text-align center
    min-width 350px
    width 28%

    .outgoing-box
      position relative
      text-align left
      width 130%
      z-index 2

  .image-part
    flex-grow 1
    position relative
    z-index 1

  &.inverse-order
    .text-part .outgoing-box
      left -30%

.gray-container
  background $lighterGray

.navbar-menu
  background white
  simple-border('bottom', 1px, #e5e5e5)
  height 65px
  left 0
  padding-top 9.5px
  position fixed
  top 0
  width 100%
  z-index 10

  #navbar-trigger
    display none

  .menu-trigger
    display none

  &-logo
    display inline-block
    height 42px
    margin-left 20px
    margin-top -1.5px
    vertical-align middle

  &-list
    display inline-block
    font-size 12px
    font-weight $fontSemiBold
    list-style none
    margin-left -20px

    .responsive-menu-logo
      display none

    li
      display inline-block

      &.phone
        display none

      &:not(:first-child):not(:last-child)::before
        content ' | ' !important
        font-size 15px
        margin 0 3px
        color #4a4a4a

      a
        color #4a4a4a
        display inline-block
        transition color 0.2s

        &:hover
          color $orange

      &.active a
        color $orange

  &-orange-box
    background $orange
    color white !important
    display inline-block
    float right
    font-weight $fontSemiBold
    height 63px
    margin-top -8px
    padding 7px 20px
    text-align center
    width 240px

    .small-text
      display block
      // font-size 10.5px
      line-height 1.2

      img
        height 15px

    .big-text
      // font-size 23px
      line-height 1.3

#sections-content
  margin-top 63px

footer
  color white
  font-size 14px
  font-weight $fontSemiBold
  padding 40px 50px

  &.orange-footer
    background $orange

  &.gray-footer
    background $darkGray

    #footer-newsletter-form button,
    .hbspt-form input[type="submit"]
      background lightness($darkGray, 30%)
      border-color lightness($darkGray, 60%) !important

      &:hover, &:focus, &:active
        background white
        color lightness($darkGray, 30%) !important

  .footer-container
    align-items center
    display flex

    .footer-col
      width 33.333333%

      &:first-child
        margin-right 30px

      &:first-child form, &:nth-child(2),
      &:first-child .newsletter-span
        font-size 15.5px
        font-weight $fontNormal

      &:last-child
        margin-left 30px
        text-align right

        .footer-contact
          display inline-block
          text-align left
          width 85%

          .footer-contact-element
            display flex

            &:not(:first-child)
              margin-top 9px

            img
              height 16px
              margin-right 18px
              margin-top 2px
              width 20px

            .fa
              display inline-block
              font-size 19px
              margin-right 20px

            p
              flex-grow 1
              margin 0

              span
                display block

      a
        color white

    .footer-logo
      max-width 300px
      width 22%

    .footer-logo-legend
      display block
      font-size 16px

  .newsletter-span
    display block

  #footer-newsletter-form,
  .hbspt-form
    margin-bottom 50px

    form > div
      display inline-block
      min-width 0 !important
      vertical-align top
      width auto !important

    .hs_email
      margin-top 8px
      max-width 230px

    .hs_submit
      margin-top 8px
      margin-left 7px

    input[type="email"]
      background rgba(white, 0.3)
      simple-border('all', 1px, white)
      font-weight $fontLight
      margin-top 0
      padding 9px 16px 11px 16px
      width 100%
      min-width 0

      &::placeholder
        color white

      &:focus, &:active
        outline none

    button,
    [type="submit"]
      background #e5800f
      border-width 1px !important
      border-color #f5a65b !important
      border-style solid !important
      margin-top 0
      padding 10px 23px 12px 23px
      transition all 0.2s

      &:hover, &:focus, &:active
        background white
        border-color white !important
        color #e5800f
        outline none

@media $smallBase
  body
    font-size 13.5px

  .orange-cover-divider
    display block
    height auto

    .text-part,
    .image-part
      display block
      width 100%

    .text-part
      min-width 320px

      .outgoing-box
        left 0 !important
        text-align center
        width 100%

    &.developments-cover-divider
      min-height initial

      &:not(:first-child)
        margin-top 80px

      .text-part
        padding 40px 0

        img
          max-width 250px
          width 50%
  footer
    padding 60px 0

    .footer-container
      display block

      .footer-col
        display block
        center-block()
        text-align center
        width 90%

        &:not(:first-child)
          margin-top 60px

        &#footer-newsletter-form input
          center-block()

        .footer-logo
          max-width 400px

        &:first-child
          margin-right 5%

        &:last-child
          margin-left 10%
          text-align left

          .footer-contact
            &-element p span
              display inline !important

#converse-chat
  z-index 10 !important

@media $smallBase
  footer
    padding 30px 0

    .footer-container
      .footer-col
        &:last-child
          .footer-contact
            .footer-contact-element
              img
                height 13px !important
                margin-top 4px
                width 17px !important

@media $smallPortrait
  .orange-cover-divider .image-part
    height 40vh

@media $smallLandscape
  .orange-cover-divider .image-part
    height 70vh

@media screen and (max-width: 920px)
  .phone-box
    display none

  .navbar-menu
    .menu-trigger
      background none
      border none
      color $orange
      display block
      float left
      font-size 32px
      margin-left 16px
      margin-top 5.5px

    #navbar-trigger:checked ~ .navbar-menu-list
        left 0

    &-orange-box, >a img
      display none !important

    &-list
      background #fafafa
      height 100vh
      margin-left 0
      overflow-y auto
      position fixed
      left -280px
      text-align left
      top 0
      transition left 0.2s
      width 280px
      z-index 11

      .responsive-menu-logo
        display inline-block !important
        padding 20px 30px 30px 30px

        img
          height 60px

      ul
        padding 0
        margin-top 10px

      li
        display block
        font-size 14px

        a
          color black
          display block
          padding 15px 30px

        &:not(.phone).active,
        &:not(.phone):hover
          background $orange

          a
            color white !important

        &.phone
          color darken($orange, 10%)
          display block
          font-size 16px
          position relative

          a
            color inherit
            display initial
            padding 0

          span, .fa, img
            display inline-block
            vertical-align middle

          .fa, img
            margin-right 10px

          img
            display inline-block
            width 20px

          .fa
            font-size 20px

          &.whatsapp
            margin-top 0
            padding 10px 30px

          &.office
            margin-top 10px
            padding 18px 30px

            &::before
              simple-border('top', 2px, darken($orange, 10%))
              content ' '
              display block
              position absolute
              left 30px
              top 0
              width 50px

        &:not(:first-child):not(:last-child)::before
          content '' !important
          margin 0 !important
