body
  font-size $mainFontSize
  font-family 'Open Sans'
  
a, a:hover, a:active
  text-decoration none !important
  
.orange-button
  background white
  simple-border('all', 2px, $orange)
  color $orange !important
  display inline-block
  padding 18px 50px
  transition all 0.2s
  width auto
  
  &:hover, &:active
    background $orange
    color white !important
    
  &:focus, &:active
    outline none

.orange-cover-divider
  display flex
  height auto
  min-height 50vh
  
  .text-part
    background $orange
    text-align center
    min-width 350px
    width 28%
    
    .outgoing-box
      position relative
      text-align left
      width 130%
      z-index 2
      
  .image-part
    flex-grow 1
    position relative
    z-index 1
    
  &.inverse-order
    .text-part .outgoing-box
      left -30%

footer
  color white
  padding 50px 75px
  
  &.orange-footer
    background $orange
  
  &.gray-footer
    background $darkGray
  
  .footer-container
    align-items center
    display flex
    
    .footer-col
      width 33.333333%
    
      &:first-child
        margin-right 30px
        
      &:last-child
        margin-left 30px
      
      a
        color white
        
    .footer-logo
      width 60%
      
    .footer-logo-legend
      display block
      font-size 16px
      
  #footer-newsletter-form
    margin-bottom 50px

    span
      display block

    input[type="email"]
      background rgba(white, 0.3)
      simple-border('all', 1px, white)
      font-weight $fontLight
      margin-top 8px
      max-width 272px
      padding 10px 16px 12px 16px
      
      &::placeholder
        color white
        
      &:focus, &:active
        outline none

    button
      background #e5800f
      simple-border('all', 1px, #f5a65b)
      margin-top 8px
      padding 10px 25px 12px 25px
      transition all 0.2s
      
      &:hover, &:focus, &:active
        background white
        color #e5800f
        outline none

@media $smallBase
  .orange-cover-divider
    display block
    height auto
    
    .text-part,
    .image-part
      display block
      width 100%

    .text-part
      min-width auto

      .outgoing-box
        left 0 !important
        text-align center
        width 100%

  footer
    padding 30px 0

    .footer-container
      display block
      
      .footer-col
        display block
        margin 60px auto !important
        text-align center
        width 90%
        
        &#footer-newsletter-form input
          center-block()
        
        .footer-logo
          max-width 400px
          min-width 240px
          
@media $smallPortrait
  .orange-cover-divider .image-part
    height 40vh
    
@media $smallLandscape
  .orange-cover-divider .image-part
    height 70vh