body
  font-size $mainFontSize
  font-family 'Open Sans'
  
a, a:hover, a:active
  text-decoration none !important
  
#page-wrapper
  height 100%
  overflow-x hidden
  width 100%
  
#converse-chat *
  font-family 'Open Sans' !important

.vre-modal
  .modal-dialog
    height 100%
    margin 0 auto

  .modal-content
    border none
    border-radius 0
    box-shadow none
    text-align center
    top 50%
    transform translateY(-50%)
    
  .modal-header
    color white

  &.success .modal-header
    background #76bb4a

  &.error .modal-header
    background #d43d3d
    
  .modal-body
    padding 20px
    
  .modal-footer
    text-align center
    
    .vre-button
      font-size 15px
      padding 10px 25px

.vre-button, .vre-inverse-button
  display inline-block
  padding 18px 50px
  transition all 0.2s
  width auto
  
  &:focus, &:active
    outline none

.vre-button
  background white
  simple-border('all', 2px, $orange)
  color $orange !important
  
  &:hover, &:active
    background $orange
    color white !important
    
.vre-inverse-button
  background $orange
  simple-border('all', 2px, white)
  color white !important
  
  &:hover, &:active
    background white
    color $orange !important
    
  &.no-border
    border none

.vre-input
  background white
  border none
  padding 0.8em 1em
  
  &:focus
    outline none
    
textarea.vre-input
  resize none

.orange-cover-divider
  display flex
  height auto
  min-height 50vh
  
  .text-part
    background $orange
    text-align center
    min-width 350px
    width 28%
    
    .outgoing-box
      position relative
      text-align left
      width 130%
      z-index 2
      
  .image-part
    flex-grow 1
    position relative
    z-index 1
    
  &.inverse-order
    .text-part .outgoing-box
      left -30%

.gray-container
  background $lighterGray

.navbar-menu
  background white
  height 58px
  left 0
  padding-top 7.5px
  position fixed
  top 0
  width 100%
  z-index 10
  
  #navbar-trigger
    display none
  
  .menu-trigger
    display none

  &-logo
    display inline-block
    height 42px
    margin-left 20px
    margin-top -1.5px
    vertical-align middle

  &-list
    display inline-block
    font-size 12px
    font-weight $fontSemiBold
    list-style none
    margin-left -20px
    
    .responsive-menu-logo
      display none
    
    li
      display inline-block
      
      &:not(:first-child)::before
        content ' | ' !important
        font-size 15px
        margin 0 3px

      a
        color black
        display inline-block
        transition color 0.2s
        
        &:hover
          color $orange
          
      &.active a
        color $orange

  &-orange-box
    background $orange
    color white !important
    display inline-block
    float right
    font-size 20px
    font-weight $fontSemiBold
    line-height 58px
    margin-top -8px
    padding 0 40px
    text-align center

#sections-content
  margin-top 58px

footer
  color white
  font-size 14px
  font-weight $fontSemiBold
  padding 40px 50px
  
  &.orange-footer
    background $orange
  
  &.gray-footer
    background $darkGray
    
    #footer-newsletter-form button
      background lightness($darkGray, 30%)
      border-color lightness($darkGray, 60%)
      
      &:hover, &:focus, &:active
        color lightness($darkGray, 30%)
  
  .footer-container
    align-items center
    display flex
    
    .footer-col
      width 33.333333%
    
      &:first-child
        margin-right 30px
        
      &:first-child form, &:nth-child(2)
        font-size 15.5px
        font-weight $fontNormal
        
      &:last-child
        margin-left 30px
        text-align right
        
        .footer-contact
          display inline-block
          text-align left
          width 85%
          
          .footer-contact-element
            display flex
            
            &:not(:first-child)
              margin-top 9px
            
            img
              height 16px
              margin-right 18px
              margin-top 2px
              
            p
              flex-grow 1
              margin 0
              
              span
                display block
      
      a
        color white
        
    .footer-logo
      max-width 300px
      width 60%
      
    .footer-logo-legend
      display block
      font-size 16px
      
  #footer-newsletter-form
    margin-bottom 50px

    span
      display block

    input[type="email"]
      background rgba(white, 0.3)
      simple-border('all', 1px, white)
      font-weight $fontLight
      margin-top 8px
      max-width 230px
      padding 9px 16px 11px 16px
      
      &::placeholder
        color white
        
      &:focus, &:active
        outline none

    button
      background #e5800f
      simple-border('all', 1px, #f5a65b)
      margin-left 2px
      margin-top 8px
      padding 10px 23px 12px 23px
      transition all 0.2s
      
      &:hover, &:focus, &:active
        background white
        color #e5800f
        outline none

@media $smallBase
  body
    font-size 13.5px

  .orange-cover-divider
    display block
    height auto
    
    .text-part,
    .image-part
      display block
      width 100%

    .text-part
      min-width auto

      .outgoing-box
        left 0 !important
        text-align center
        width 100%

  footer
    padding 60px 0

    .footer-container
      display block
      
      .footer-col
        display block
        center-block()
        text-align center
        width 90%
        
        &:not(:first-child)
          margin-top 60px
        
        &#footer-newsletter-form input
          center-block()
        
        .footer-logo
          max-width 400px
          min-width 240px
          
        &:first-child
          margin-right 5%
          
        &:last-child
          margin-left 10%
          text-align left

          .footer-contact
            &-element p span
              display inline !important

#converse-chat
  z-index 10 !important
          
@media $smallPortrait
  .orange-cover-divider .image-part
    height 40vh
    
@media $smallLandscape
  .orange-cover-divider .image-part
    height 70vh
    
@media screen and (max-width: 830px)
  .phone-box.fix-in-top
    display none

  .homepage-cover .homepage-menu.fix-in-top
    .menu-trigger
      background none
      border none
      color $orange
      display block
      float right
      font-size 32px
      margin-right 16px
      margin-top 7px

    #navbar-trigger:checked ~ .menu-list
        right 0

    .logo-container
      display none !important

    .menu-list
      background #fafafa
      height 100vh
      overflow-y auto
      position fixed
      right -280px
      top 0
      transition right 0.2s
      width 280px
      z-index 11

      .responsive-menu-logo
        display block !important
        padding 20px 30px 30px 30px
        text-align right
        
        img
          height 60px
          
      ul
        padding 0
      
      li
        display block
        font-size 14px
        text-align right
        
        a
          display block
          padding 18px 30px
        
        &.active, &:hover
          background rgba($orange, 0.8)
          
          a
            color white !important

        &.phone
          background $orange
          
        &:not(:first-child)::before
          content '' !important
          margin 0 !important
          
  .navbar-menu
    .menu-trigger
      background none
      border none
      color $orange
      display block
      float right
      font-size 32px
      margin-right 16px
      margin-top 5.5px

    #navbar-trigger:checked ~ .navbar-menu-list
        right 0

    &-orange-box, >a img
      display none !important

    &-list
      background #fafafa
      height 100vh
      overflow-y auto
      position fixed
      right -280px
      top 0
      transition right 0.2s
      width 280px
      z-index 11

      .responsive-menu-logo
        display block !important
        padding 20px 30px 30px 30px
        text-align right
        
        img
          height 60px
          
      ul
        padding 0
        margin-top 10px
      
      li
        display block
        font-size 14px
        text-align right
        
        a
          display block
          padding 15px 30px
        
        &.active, &:hover
          background rgba($orange, 0.8)
          
          a
            color white !important
            
        &.phone
          background $orange
          
        &:not(:first-child)::before
          content '' !important
          margin 0 !important