@font-face
  font-family 'Open Sans'
  src url('../fonts/opensans-regular-webfont.woff') format('woff')
  font-weight $fontNormal
  font-style normal
@font-face
  font-family 'Open Sans'
  src url('../fonts/opensans-light-webfont.woff') format('woff')
  font-weight $fontLight
  font-style normal
@font-face
  font-family 'Open Sans'
  src url('../fonts/opensans-semibold-webfont.woff') format('woff')
  font-weight $fontSemiBold
  font-style normal
@font-face
  font-family 'Open Sans'
  src url('../fonts/opensans-bold-webfont.woff') format('woff')
  font-weight $fontBold
  font-style normal
  
@font-face
  font-family 'Open Sans'
  src url('../fonts/opensans-extrabold-webfont.woff') format('woff')
  font-weight $fontExtraBold
  font-style normal
  
  
@font-face
  font-family 'Oswald'
  src url('../fonts/oswald-regular-webfont.woff') format('woff');
  font-weight $fontNormal
  font-style normal