.cover
  background-position center
  background-size cover

.simple-parallax
  background-attachment fixed

.text-center
  text-align center

.text-justify
  text-align justify

.text-left
  text-align left

.text-right
  text-align right

.semibold
  font-weight $fontSemiBold
  
.regular
  font-weight $fontNormal
  
.light
  font-weight $fontLight
  
@media $smallBase
  .simple-parallax
    background-attachment scroll