{% extends "base.html" %}
{% block description %}Invierte con nosotros y asegura tu futuro{% endblock %}
{% block title %}Invierte en tu futuro | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="gray-container">
  	<form action="." method="post" class="login-form">
      <h1>Welcome <b>Investor</b></h1>
  		{% csrf_token %}
  		{{ form.username }}
      {{ form.password }}
  		{% if next %}
        <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
  		<button type="submit" class="vre-inverse-button">Login</button>
  	</form>
  </div>
</main>
{% endblock %}
