{% extends "base.html" %}
{% load static from staticfiles %}
{% block description %}VRE México es una firma inmobiliaria dentro de la Ciudad de Mexico con amplia experiencia en el sector{% endblock %}
{% block title %}Firma inmobiliaria en la Ciudad de México | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="about-us-cover cover">
    <p>
      <img src="{% static "img/icons/vre_white_logo.png" %}" alt="VRE Logo">
      <b>VRE México</b> es una firma enfocada en el desarrollo inmobiliario dentro de las principales ciudades de México
    </p>
  </div>
  <div class="about-us-container">
    <div class="about-us-content">
      <div class="introductory-text">
        <div class="image-part">
          <img src="{% static "img/icons/about_us_icon_01.png" %}" alt="VRE Logo">
        </div>
        <div class="text-part">
          <p>Creemos firmemente que <b>las ciudades</b>, más no los países, <b>son y serán los elementos constitutivos de las economías en desarrollo</b>, y como consecuencia, estas deberán avanzar hacia desarrollos verticales con la finalidad de albergar a un mayor número de personas las cuales puedan <b>disfrutar de los extraordinarios beneficios y sinergias de vivir en una ciudad.</b></p>
        </div>
      </div>
      <div class="secondary-cover cover">
        <img src="{% static "img/icons/about_us_icon_02.png" %}" alt="VRE Logo">
      </div>
      <div class="gray-container">
        <p>
          <b>VRE México</b> es una desarrolladora inmobiliaria verticalmente integrada. Contamos con un equipo multidisciplinario comprometido con nuestros clientes e inversionistas. Nuestra plataforma cuenta con <b>más de 50 años de experiencia internacional</b> en los sectores de construcción, desarrollo inmobiliario, finanzas y diseño.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
