{% extends "base.html" %}
{% block title %}Aviso de privacidad | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="gray-container">
    <div class="privacy-notice-container">
      <h2>Términos y <b>condiciones</b></h2>
      <p>
        El contenido dentro del sitio web de ADMINISTRACIÓN VRE S.A.P.I. de C.V. (“VRE ”) es de fines informativos únicamente. Se han realizado todos los esfuerzos pertinentes para asegurar la exactitud de toda la información aquí contenida.
      </p>
      <p>
        El usuario de este sitio reconoce que la información obtenida del Sitio Web de VRE es propiedad de VRE y por lo tanto no se otorga al usuario ningún derecho o título de propiedad intelectual sobre la información. El usuario reconoce y acepta que no podrá copiar, duplicar o reproducir, en ninguna forma, la información, excepto para su uso personal, quedando terminantemente prohibido el uso comercial de la misma.
      </p>
    </div>
  </div>
</main>
{% endblock %}