{% extends "base.html" %}
{% block title %}Contacto | VRE Mexico{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="gray-container">
    <form action="." method="post" class="contact-form">
      <h1 class="title">Escríbenos para conocer <b>los desarrollos</b></h1>
      {% csrf_token %}
      {{ form.name }}
      {{ form.email }}
      {{ form.phone }}
      {{ form.message }}
	    <input type="hidden" name="source" value="contact"/>
      <div class="button-container">
        <button class="vre-inverse-button no-border" id="contact_button">Envíar</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}

{% block after_scripts %}
	<script>
		$('#contact_button').on('click', function () {
			ga('send','event','Contacto','ok');
		})
	</script>
{% endblock %}