{% extends "base.html" %}
{% block title %}Contacto | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="gray-container">
    <form action="." method="post" class="contact-form">
      <div class="title">Escribenos para conocer <b>los desarrollos</b></div>
      {% csrf_token %}
      {{ form.name }}
      {{ form.email }}
      {{ form.message }}
      <button class="vre-inverse-button no-border">Envíar</button>
    </form>
  </div>
</main>
{% endblock %}