{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Desarrollos | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div>
    Nuestros desarrollos <br>
    Cada espacio que diseñamos y construimos es terminado con la mejor selección de acabados y materiales. Juntos, estos elementos logran crear espacios funcionales con una gran estética y resistencia a la vida diaria.
  </div>
  <div class="orange-cover-divider">
    <div class="text-part">
      <img src="{% static "img/icons/icons-02.png" %}">
      <a href="#">Conoce más</a>
    </div>
    <div class="image-part cover simple-parallax"></div>
  </div>
  <div class="orange-cover-divider inverse-order">
    <div class="image-part cover simple-parallax"></div>
    <div class="text-part">
      <img src="{% static "img/icons/icons-04.png" %}">
      <a href="#">Conoce más</a>
    </div>
  </div>
</main>
{% endblock %}