{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Desarrollos | VRE Mexico{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="developments-gray-divider text-center">
    <h1>Nuestros <b>Desarrollos</b></h1>
    <p>
    Cada espacio que diseñamos y construimos es terminado con la mejor selección de acabados y materiales.
    </p>
  </div>
  <div class="developments-items">
    <div class="development-item">
      <a href="{% url 'landing:development_demo' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/indiana_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo' %}">
          <img src="{% static "img/tmp/indiana_full_white_name.png" %}" class="development-item-name" alt="Indiana 176">
        </a>
        <span class="development-item-location">Colonia <strong>Nápoles</strong></span>
      </div>
    </div>
    <div class="development-item">
      <a href="{% url 'landing:development_demo2' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/dakota_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo2' %}">
          <img src="{% static "img/tmp/dakota_full_white_name.png" %}" class="development-item-name" alt="Dakota 322">
        </a>
        <span class="development-item-location">Colonia <strong>Nápoles</strong></span>
      </div>
    </div>
    <div class="development-item">
      <a href="{% url 'landing:development_demo3' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/tlacotalpan_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo3' %}">
          <img src="{% static "img/tmp/tlacotalpan_full_white_name.png" %}" class="development-item-name" alt="Tlacotalpan 146">
        </a>
        <span class="development-item-location">Colonia <strong>Roma</strong></span>
      </div>
    </div>
    <div class="development-item">
      <a href="{% url 'landing:development_demo4' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/nebraska_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo4' %}">
          <img src="{% static "img/tmp/nebraska_full_white_name.png" %}" class="development-item-name" alt="Indiana 176">
        </a>
        <span class="development-item-location">Colonia <strong>Nápoles</strong></span>
      </div>
    </div>
  </div>
</main>
{% endblock %}