{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Desarrollos | VRE Mexico{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="developments-gray-divider text-center">
    <h1>Nuestros <b>Desarrollos</b></h1>
    <p>
    Cada espacio que diseñamos y construimos es terminado con la mejor selección de acabados y materiales.
    </p>
  </div>
  <div class="developments-items">
    <div class="development-item type-b">
      <a href="{% url 'landing:development_demo' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/indiana_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo' %}">
          <img src="{% static "img/tmp/indiana_full_white_name.png" %}" class="development-item-name" alt="Indiana 176">
          <span class="development-item-location">Colonia <strong>Nápoles</strong></span>
        </a>
      </div>
    </div>
    <div class="development-item type-b">
      <a href="{% url 'landing:development_demo2' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/dakota_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo2' %}">
          <img src="{% static "img/tmp/dakota_full_white_name.png" %}" class="development-item-name" alt="Dakota 322">
          <span class="development-item-location">Colonia <strong>Nápoles</strong></span>
        </a>
      </div>
    </div>
    <div class="development-item">
      <a href="{% url 'landing:development_demo3' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/tlacotalpan_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo3' %}">
          <img src="{% static "img/tmp/tlacotalpan_full_white_name.png" %}" class="development-item-name" alt="Tlacotalpan 146">
          <span class="development-item-location">Colonia <strong>Roma</strong></span>
        </a>
      </div>
    </div>
    <div class="development-item type-b">
      <a href="{% url 'landing:development_demo4' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/nebraska_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo4' %}">
          <img src="{% static "img/tmp/nebraska_full_white_name.png" %}" class="development-item-name" alt="Nebraska 159">
          <span class="development-item-location">Colonia <strong>Nápoles</strong></span>
        </a>
      </div>
    </div>
    <div class="development-item type-b">
      <a href="{% url 'landing:development_demo5' %}" class="development-item-cover cover" style="background-image: url({% static "img/tmp/chicago_item_photo_small.jpg" %})"></a>
      <div class="development-item-info">
        <a href="{% url 'landing:development_demo5' %}">
          <img src="{% static "img/tmp/chicago_full_white_name.png" %}" class="development-item-name" alt="Chicago 61">
          <span class="development-item-location">Colonia <strong>Nápoles</strong></span>
        </a>
      </div>
    </div>
  </div>
  <div class="developments-map">
    <h2>Ubicación</h2>
    <div class="embed-responsive embed-responsive-16by9" id="location-map">
    </div>
  </div>
</main>
{% endblock %}
{% block before_scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJxTs6nptICwPefTB_XR6yA2BUmUg-5A"></script>
{% endblock %}
{% block after_scripts %}
<script>
  insertMap([19.395001, -99.176670], 'Desarrollos', 14, [
    {
      coordinates: [19.386183, -99.178583],
      title: 'Indiana 176'
    },
    {
      coordinates: [19.388950, -99.178761],
      title: 'Dakota 322'
    },
    {
      coordinates: [19.402214, -99.165347],
      title: 'Tlacotalpan 146'
    },
    {
      coordinates: [19.395001, -99.176670],
      title: 'Nebraska 159'
    },
    {
      coordinates: [19.397481, -99.174528],
      title: 'Chicago 61'
    }
  ]);
</script>
{% endblock %}