{% extends "base.html" %}
{% load static from staticfiles %}
{% block description %}VRE México | Venta de departamentos en el corazón de la Ciudad de México{% endblock %}
{% block title %}VRE México | Departamentos en el corazón de la Ciudad de México{% endblock %}
{% block content %}
<div class="homepage-cover cover simple-parallax">
  <div class="phone-box fix-in-top">
    <div class="phone-box-content">
      <span class="small-text">
        <img src="{% static "img/icons/phone_icon.png" %}" alt="Phone icon">
        <span>(52) 55 8437 2040</span>
      </span>
      <span class="big-text">
        <span class="fa fa-whatsapp"></span>
        <span>+52 1 55 5939 6716</span>
      </span>
      <div class="vre-triangulo"></div>
    </div>
  </div>
  <div class="homepage-desktop">
    <div class="homepage-desktop-logo">
      <img src="{% static "img/icons/vre_full_white_logo.png" %}" alt="Inmobiliaria VRE Mexico" />
      <!--<h1>VRE México</h1>-->
    </div>
    <div class="homepage-desktop-text">
      <p>Diseñamos, desarrollamos y vendemos departamentos en el corazón de la CDMX</p>
    </div>
  </div>
  <div class="homepage-menu fix-in-top">
    <input type="checkbox" id="navbar-trigger">
    <label for="navbar-trigger" class="menu-trigger fa fa-bars"></label>
    <div class="logo-container">
      <a href="/" class="show-in-fixed"><img src="{% static "img/icons/vre_orange_logo.png" %}" alt="Inmobiliaria VRE Mexico" /></a>
      <img class="hide-in-fixed" src="{% static "img/icons/vre_white_logo.png" %}" alt="Inmobiliaria VRE Mexico" />
      <h1>VRE México</h1>
    </div>
    <div class="menu-list">
      <a href="/" class="responsive-menu-logo"><img src="{% static "img/icons/vre_orange_logo.png" %}" alt="Inmobiliaria VRE Mexico" /></a>
      <ul>
        <li class="active"><a href="#">INICIO</a></li>
        <li><a href="{% url 'landing:developments' %}">DESARROLLOS</a></li>
        <li><a href="https://cotiza.vre.com.mx/">COTIZAR</a></li>
        <li><a href="{% url 'landing:visit_us' %}">VISÍTANOS</a></li>
        <li><a href="{% url 'landing:contact' %}">CONTACTO</a></li>
        <li><a href="http://blog.vre.com.mx">BLOG</a></li>
        <li><a href="{% url 'landing:about_us' %}">NOSOTROS</a></li>
        <li class="phone office"><a href="tel:+525588527468"><img src="{% static "img/icons/orange_phone_icon.png" %}" alt="Phone icon"><span>(52) 55 8437 2040</span></a></li>
        <li class="phone whatsapp"><i class="fa fa-whatsapp"></i><span>+52 1 55 5939 6716</span></li>
      </ul>
    </div>
  </div>
  <div class="white-box text-center" id="form-head-container">
    <div class="text-left">
    Recibe más <b>información:</b>
    </div>
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        css: '',
        portalId: '2469317',
        formId: '164c1c19-bd40-4fd7-8a35-d026ec847bb9',
        onFormSubmit: function($form) {
          $("#form-head-container").hide();
          var data = $form.serializeArray();
          data.push({name: 'source', value: 'contact'});
          $.ajax({
            url: '{% url "newsletter:suscribe" %}',
            type : 'POST',
            data: data,
            beforeSend: function () {
              ga('send', 'event', 'NewsHead', 'ok');
            },
            success: function (data) {
              if (data.status === 'subscribed') {
                $('#newsletter-modal').removeClass('error').addClass('success');
                $('#newsletter-modal .modal-title').text('Nos pondremos en contacto contigo a la brevedad.');
                $('#newsletter-modal .modal-body').text('Tu mensaje fue enviado con éxito.');
              } else {
                $('#newsletter-modal').removeClass('success').addClass('error');
                $('#newsletter-modal .modal-title').text('Ocurrió un error');
                $('#newsletter-modal .modal-body').html('Tu mensaje no pudo ser enviado, intentalo mas tarde');
              }
            },
            error: function () {
              $('#newsletter-modal').removeClass('success').addClass('error');
              $('#newsletter-modal .modal-title').text('Ocurrió un error');
              $('#newsletter-modal .modal-body').text('Ocurrió un error inesperado y tu mensaje no pudo enviarse a cabo.');
            },
            complete: function () {
              $('#newsletter-modal').modal('show');
            }
          });
        }
      });
    </script>
  </div>
</div>
<div class="homepage-developments">
  <a class="vre-button vre-btn-cotizarH" href="https://cotiza.vre.com.mx/">Cotizar o Apartar</a>
  <h2>Conoce nuestros departamentos en venta en la CDMX</h2>
  <div class="homepage-developments-items">
    <div class="item">
      <a href="{% url 'landing:development_coyoacan' %}">
        <div class="item-picture" style="background-image: url({% static "img/coyoacan1424.jpg" %})">
          <div class="vre-filtro preventa"><span>Preventa</span></div>
        </div>
        <img class="item-name" src="{% static "img/coyoacan_1424.jpg" %}" alt="Coyoacán 1424" />
      </a>
    </div>
    <div class="item">
      <a href="{% url 'landing:comercio' %}">
        <div class="item-picture" style="background-image: url({% static "img/comercio44.jpg" %})">
          <div class="vre-filtro preventa"><span>Preventa</span></div>
        </div>
        <img class="item-name" src="{% static "img/comercio_44.jpg" %}" alt="Comercio 44" />
      </a>
    </div>
    <div class="item">
      <a href="{% url 'landing:development_beistegui' %}">
        <div class="item-picture" style="background-image: url({% static "img/beistegui512_preview.jpg" %})">
          <div class="vre-filtro preventa"><span>Preventa</span></div>
        </div>
        <img class="item-name" src="{% static "img/beistegui512_name.jpg" %}" alt="Concepción Beistegui 512" />
      </a>
    </div>
    <div class="item">
      <a href="{% url 'landing:development_demo3' %}">
        <div class="item-picture" style="background-image: url({% static "img/tlaco146.jpg" %})">
          <div class="vre-filtro inmediata"><span>Entrega Inmediata</span></div>
        </div>
        <img class="item-name" src="{% static "img/Tlacotal.jpg" %}" alt="Tlacotalpan 146" />
      </a>
    </div>
    <div class="item">
      <a href="{% url 'landing:development_atlanta' %}">
        <div class="item-picture" style="background-image: url({% static "img/atlanta186.jpg" %})">
          <div class="vre-filtro preventa"><span>Preventa</span></div>
        </div>
        <img class="item-name" src="{% static "img/Atlanta.jpg" %}" alt="Atlanta 186" />
      </a>
    </div>
    <div class="item">
      <a href="{% url 'landing:development_demo4' %}">
        <div class="item-picture" style="background-image: url({% static "img/nebraska159.jpg" %})">
          <div class="vre-filtro inmediata"><span>Entrega Inmediata</span></div>
        </div>
        <img class="item-name" src="{% static "img/Nebraska.jpg" %}" alt="Nebraska 159" />
      </a>
    </div>
    <div class="item">
      <a href="{% url 'landing:development_carolina' %}">
        <div class="item-picture" style="background-image: url({% static "img/carolina149.jpg" %})">
          <div class="vre-filtro preventa"><span>Preventa</span></div>
        </div>
        <img class="item-name" src="{% static "img/Carolina.jpg" %}" alt="Carolina 149" />
      </a>
    </div>
    <!-- <div class="item">
      <a href="{% url 'landing:development_demo5' %}">
        <div class="item-picture" style="background-image: url({% static "img/chicago61.jpg" %})">
          <div class="vre-filtro inmediata"><span>Entrega Inmediata</span></div>
        </div>
        <img class="item-name" src="{% static "img/Chicago.jpg" %}" alt="Chicago 61" />
      </a>
    </div> -->
  </div>
  <a class="vre-button" href="{% url 'landing:developments' %}">Conoce más desarrollos</a>
</div>
<div class="gray-container homepage-gray-divider text-center">
  <div id="experiencia360" class="iframe-selector">
    <a class="iframe-option active" href="#" data-iframe-url="https://www.dwmx.com/VRE/Nebraska/">Nebraska</a>
    <a class="iframe-option" href="#" data-iframe-url="https://dwmx.com/VRE/Indiana/">Indiana</a>
    <a class="iframe-option" href="#" data-iframe-url="https://www.dwmx.com/VRE/Dakota/">Dakota</a>
    <a class="iframe-option" href="#" data-iframe-url="https://www.dwmx.com/VRE/Tlacotalpan/">Tlacotalpan</a>
    <a class="iframe-option" href="#" data-iframe-url="https://dwmx.com/VRE/Carolina/">Atlanta | Carolina</a>
  </div>
  <span>Dale click sobre la imagen y vive el departamento</span>
  <div class="container-360">
    <div class="embed-responsive embed-responsive-16by9">
      <div class="help-360">Click para comenzar</div>
      <iframe src="https://dwmx.com/VRE/Indiana/" frameborder="0" class="embed-responsive-item"></iframe>
    </div>
  </div>
</div>
<div class="homepage-contact-divider text-center">
  <h2>Contáctanos para recibir más información <br>
  sobre nuestros desarrollos</h2>
  <a href="{% url 'landing:contact' %}" class="vre-button">Contáctanos</a>
</div>
<div class="orange-cover-divider homepage-cover-divider-1">
  <div class="text-part">
    <img src="{% static "img/icons/vre_full_white_logo.png" %}" alt="Inmobiliaria VRE Mexico"/>
    <div class="outgoing-box">
      Construyendo <br>
      <b>calidad</b> de <b>vida</b>
    </div>
  </div>
  <div class="image-part cover simple-parallax"></div>
</div>
<div class="vre-division">
  <div class="right"></div>
</div>
{% endblock %}
