{% extends "base.html" %}
{% block title %}Aviso de privacidad | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="gray-container">
    <div class="privacy-notice-container">
      <h2>Aviso de <b>privacidad</b></h2>
      <b>AVISO DE PRIVACIDAD PARA CLIENTES DE ADMINISTRACIÓN VRE, S.A.P.I. DE C.V. (”VRE”) CON DOMICILIO EN CALLE I, MZN X, NO. 16, 04400, COLONIA EDUCACIÓN, COYOACÁN, CIUDAD DE MÉXICO, MÉXICO.</b>
      <p>Sus datos personales son muy importantes para VRE y serán tratados con base en los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en términos de la legislación aplicable y se utilizarán para:</p>
      <ol>
        <li>Informarle acerca de los diversos servicios de construcción de VRE</li>
        <li>Mandarle comunicados y notas preparadas por VRE sobre temas que consideramos de su interés relacionados al giro de esta compañía</li>
        <li>Invitarlo a eventos organizados por VRE y para compartirle otro material que pueda interesarle</li>
      </ol>
      <p>
        La información que recopilamos es su nombre y correo electrónico. En caso de que no desee que sus datos personales sean tratados para estos fines, desde este momento usted lo puede comunicar personalmente a la cuenta de correo electrónico contacto@vre.com.mx. <br>
        Nos comprometemos a no transferir su información personal a terceros sin su consentimiento, salvo las excepciones previstas en el artículo 37 de la Ley, así como a realizar esta transferencia en los términos que fija esa ley.
      </p>
      <p>
        Usted, como titular, tiene derecho a (i) acceder a sus datos personales en posesión de VRE y conocer los detalles del tratamiento de los mismos, (ii) rectificarlos en caso de estar desactualizados, ser inexactos o estar incompletos, (iii) cancelarlos cuando considere que no están siendo utilizados, conforme a los principios, deberes y obligaciones aplicables, u (iv) oponerse al tratamiento de los mismos para fines específicos. Usted puede ejercer sus derechos enviando un correo electrónico a la dirección contacto@vre.com.mx, indicando: i) el nombre completo del titular de los datos personales, domicilio y cuenta de correo electrónico, para poder comunicarle la respuesta a su solicitud, ii) los documentos que acrediten la identidad, iii) la descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados y iv) en su caso, las modificaciones a realizarse y aportar la documentación que sustente su petición.
      </p>
      <p>
        Cualquier cambio en el presente aviso de privacidad estará disponible en esta página y queda bajo responsabilidad del usuario leer este aviso de privacidad periódicamente para estar al tanto de posibles modificaciones.
      </p>
    </div>
  </div>
</main>
{% endblock %}
