{% extends 'base.html' %}
{% block title %}Mensaje enviado | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
<div class="gray-container">
  <div class="privacy-notice-container text-center" style="padding-top: 120px">
    <h2>Tu mensaje fue enviado con éxito</h2>
    <a href="/">Volver a la página principal</a>
  </div>
</div>

</main>
{% endblock %}

{% block after_scripts %}
  <script>
    fbq('track', 'CompleteRegistration');
  </script>
{% endblock %}
