{% extends "base.html" %}
{% block title %}Visítanos | VRE Mexico{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
  <div class="gray-container">
    <form action="." method="post" class="visit-us-form">
	    {% csrf_token %}
      <div class="title">Agenda una cita para visitar nuestro <b>showroom</b></div>
      <div class="form-columns">
        <div class="form-column">
          <input type="text" class="vre-input" placeholder="Nombre" name="name">
          <input type="email" class="vre-input" placeholder="Correo electrónico" name="email">
          <div id="visit-us-datepicker"></div>
        </div>
        <div class="form-column">
          <input type="number" class="vre-input" placeholder="Teléfono (opcional)" name="phone">
          <textarea class="vre-input" placeholder="Mensaje (opcional)" name="message"></textarea>
        </div>
      </div>
      <input type="hidden" id="hidden_date" name="hidden_date">
	    <input type="hidden" name="source" value="visit showroom"/>
      <button class="vre-inverse-button no-border" id="showroom_button">Envíar</button>
    </form>
  </div>
</main>
{% endblock %}

{% block after_scripts %}
	<script>
		$('#showroom_button').on('click', function () {
			ga('send','event','Agenda','ok');
		})
	</script>
{% endblock %}