{% extends 'base.html' %}
{% block title %}Descargar archivo | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
	<div class="gray-container investor-documents">
		<h1>
			Lista de Documentos
		</h1>
		<div class="table-responsive">
	    <table class="table dashboard-history-table">
	      <thead>
	        <tr>
	          <th>Desarrollo</th>
	          <th>Nombre del Documento</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
				{% for development in developments %}
					{% for document in documents %}
						{% if document.develop == development %}
							<tr>
								<td><span class="semibold">{{ development.name }}</span></td>
								<td>{{ document.title }}</td>
								<td><a class="fa fa-download download-document" href="{% url 'developments:download_document' id=document.id %}">
									Descargar
								</a></td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endfor %}
		    </tbody>
			</table>
		</div>
	</div>
</main>
{% endblock %}