{% extends 'base.html' %}

{% block title %}
	Descargar archivo
{% endblock %}

{% block content %}
	<h1>
		Descargar un documeto
	</h1>

	{% for development in developments %}
		<h2>
			{{ development.name }}
		</h2>
		<table>
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Archivo
			</th>
		</tr>

		{% for document in development.document_set.all %}
			<tr>
				<td>
					{{ document.title }}
				</td>
				<td>
					<a href="{% url 'developments:download_document' id=document.id %}">
						Archivo
					</a>

				</td>
			</tr>
		{% endfor %}

	</table>
	{% endfor %}


{% endblock %}