{% extends 'base.html' %}
{% block title %}Descargar archivo | VRE México{% endblock %}
{% block content %}
{% include "sections_navbar.html" %}
<main id="sections-content">
	<div class="gray-container investor-documents">
		<h2>
			Lista de documentos
		</h2>
		<div class="table-responsive">
	    <table class="table dashboard-history-table">
	      <thead>
	        <tr>
	          <th>Desarrollo</th>
	          <th>Nombre del documento</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
				{% for development in developments %}
					{% for document in development.document_set.all %}
					<tr>
						<td>{%if forloop.counter == 1%}<span class="semibold">{{ development.name }}</span>{%endif%}</td>
						<td>{{ document.title }}</td>
						<td><a class="fa fa-download download-document" href="{% url 'developments:download_document' id=document.id %}">
							Descargar
						</a></td>
					</tr>
					{% endfor %}
				{% endfor %}
		    </tbody>
			</table>
		</div>
	</div>
</main>
{% endblock %}