.homepage-cover
  background-attachment fixed
  background-image url('../img/homepage_cover.jpg')
  simple-border('bottom', 4px, $orange)
  color white
  height 80vh
  position relative
  width 100%
  
  .phone-box
    position relative
    text-align right
    width 100%
    
    .phone-box-content
      background $orange
      display inline-block
      font-size 13px
      padding 15px 40px
      right 0
      text-align center
      top 0
      
      .big-text
        display block
        font-size 25px
        font-weight $fontSemiBold
        line-height 1
  
  .homepage-menu
    center-block()
    margin-top 10px
    max-width 500px
    text-align center
    width auto
    
    .logo-container
      font-family 'Oswald'
      font-size 42px
      
      img
        height 58px
        margin-right 10px
        vertical-align top

    .menu-list
      font-size 15px
      font-weight $fontSemiBold
      list-style none
      margin-left -40px

      li
        display inline-block
        
        &:not(:last-child)::after
          content ' | '
        
        a
          display inline-block
          color white
        
  .white-box
    background white
    bottom -4px
    color black
    font-size 20px
    left 150px
    max-width 270px
    padding 25px 20px 30px 20px
    position absolute

.homepage-developments
  font-size $sectionTitleSize
  margin-bottom 30px
  margin-top 40px
  text-align center
  
  &-items
    center-block()
    margin-top 10px
    max-width 1500px
    text-align center
    
    .item
      display inline-block
      width 45% !important
      
      &:nth-child(even)
        margin-left 20px
        
      &:nth-child(n + 3)
        margin-top 25px

      &-name
        margin-top 10px
        width 30%

      &-picture
        height auto
        max-height 250px
        width 100%
        
.homepage-cover-divider-1
  display flex
  height auto
  min-height 50vh
  
  .text-part
    background $orange
    text-align center
    min-width 350px
    width 28%
    
    img
      margin-bottom 45px
      margin-top 30px
      width 65%
      
    .white-box
      background white
      font-size 28px
      line-height 1.25
      margin-bottom 100px
      padding 30px 20px 30px 70px
      position relative
      text-align left
      width 130%
      z-index 2
    
  .image-part
    background-attachment fixed
    background-image url('../img/homepage_cover.jpg')
    flex-grow 1
    position relative
    z-index 1
    

.homepage-contact-divider
  line-height 1.25
  margin 80px 0
  
  span
    display block
    font-size $sectionTitleSize
    
  .orange-button
    margin-top 40px

.homepage-gray-divider
  background $lighterGray
  padding 60px 20px
  
  .container-360
    center-block()
    margin-top 20px
    width 60%
    
.homepage-cover-divider-2
  align-items shrink
  display flex
  height 50vh
  min-height 450px
  
  .image-part
    background-attachment fixed
    background-image url('../img/homepage_cover.jpg')
    flex-grow 1

  .text-part
    position relative
    text-align right
    min-width 500px
    width 35%
    
    div
      bottom 60px
      position absolute
      right 80px

      span
        display block
        line-height 1.5
      
      .orange-button
        margin-top 20px