.about-us-cover
  background-image url('../img/about_us_cover.jpg')
  color white
  font-size 25px
  height 50vh
  line-height 1.3
  min-height 500px
  
  p
    margin-left 370px
    margin-right 100px
    padding-top 100px
    
    img
      display block
      margin-bottom 25px
      width 80px
  
.about-us-container
  background transparent
  
  .about-us-content
    color #848383
    margin-left 160px
    margin-right 0
    margin-top -100px
    
    .introductory-text
      align-items stretch
      display flex
      width 100%
      
      .image-part
        margin-top -70px
        
        img
          width 150px
          margin-bottom 50px
        
      .text-part
        background white
        display block
        flex-grow 1
        padding 60px 160px 80px 70px
        height 100%
        
        p
          line-height 1.85

    .secondary-cover
      background-image url('../img/about_us_sub_cover.jpg')
      height 30vh
      min-height 210px
      position relative
      
      img
        bottom -25px
        position absolute
        right 0
        width 40px
      
    .gray-container
      line-height 1.7
      padding 60px 130px 60px 60px
      
@media $multiSmall
  .about-us-cover
    font-size 22px
    height auto
    min-height auto

    p
      margin 0 auto
      padding 90px 0
      width 80%

  .about-us-container .about-us-content
    margin 0
    
    .introductory-text
      .image-part
        margin-top -90px
        
        img
          width 80px
          
      .text-part
        padding 40px
        
        p:nth-child(2)
          font-size 20px
    
    .secondary-cover
      height 20vh
      min-height 150px
      
@media $extraSmall
  .about-us-cover
    font-size 20px

    p
      padding 40px 0

  .about-us-container .about-us-content
    margin 0
    
    .introductory-text
      .image-part
        display none
          
      .text-part
        padding 40px
        
        p:nth-child(2)
          font-size 18px

    .gray-container
      padding 40px