.about-us-cover
  background-image url('../img/homepage_cover.jpg')
  height 50vh
  min-height 500px
  
.about-us-container
  background transparent
  
  .about-us-content
    margin-left 170px
    margin-right 0
    margin-top -100px
    
    .introductory-text
      align-items stretch
      display flex
      width 100%
      
      .image-part
        margin-left -30px
        margin-top -75px
        
        img
          width 170px
        
      .text-part
        background white
        display block
        flex-grow 1
        padding 60px
        height 100%
    
    .secondary-cover
      background-image url('../img/homepage_cover.jpg')
      height 30vh
      position relative
      
      img
        bottom -20px
        position absolute
        right 0
        width 50px
      
    .gray-container
      padding 20px