.development-cover
  height 60vh
  min-height 450px
  position relative
  
  img
    bottom 15px
    display block
    left 0.5%
    position absolute
    width 99%
    
.development-header-text
  font-size $sectionTitleSize
  center-block()
  max-width 450px
  min-width 280px
  margin-bottom 90px
  margin-top 90px
  width 50%
  
.development-download-brochure
  simple-border('leftright', 10px, $orange)
  padding 40px 0

  div
    center-block()
    max-width 450px
    min-width 280px
    text-align center
    width 50%
    
    span
      display block
      font-size $sectionTitleSize
      
    input
      display block
      font-weight $fontLight
      center-block()
      margin-top 30px
      min-width 280px
      padding 10px
      text-align center
      width 85%
      
      &:focus
        outline none
    
    a
      border none !important
      display inline-block
      margin-top 30px
      padding 10px 20px !important
      width 170px