.developments-gray-divider
  background $lighterGray
  padding 100px 0
  
  p
    center-block()
    max-width 650px
    width 80%

    .title
      color #575656
      display block
      font-size 28px
      margin-bottom 20px

.developments-cover-divider-1,
.developments-cover-divider-2
  min-height 500px

  .text-part img
    margin-bottom 40px
    margin-top 100px
    width 60%

.developments-cover-divider-1 .image-part
  background-image url('../img/homepage_developments_01.jpg')
  
.developments-cover-divider-2
  margin-top 60px

  .image-part
    background-image url('../img/homepage_developments_02.jpg')