.development-cover
  height 60vh
  min-height 450px
  position relative
  
  img
    bottom 15px
    display block
    left 0.5%
    position absolute
    width 99%
    
.development-header-text
  font-size $sectionTitleSize
  center-block()
  max-width 450px
  min-width 280px
  margin-bottom 90px
  margin-top 90px
  width 50%
  
.development-download-brochure
  simple-border('leftright', 10px, $orange)
  padding 40px 0

  div
    center-block()
    max-width 450px
    min-width 280px
    text-align center
    width 50%
    
    span
      display block
      font-size $sectionTitleSize
      
    input
      display block
      font-weight $fontLight
      center-block()
      margin-top 30px
      min-width 280px
      padding 10px
      text-align center
      width 85%
      
      &:focus
        outline none
    
    a
      border none !important
      display inline-block
      margin-top 30px
      padding 10px 20px !important
      width 170px
      
.development-360-video
  padding 50px 20px
  
  .container-360
    center-block()
    margin-top 20px
    max-width 900px
    min-width 280px
    width 80%
    
.development-characteristics
  font-size $sectionTitleSize
  margin-left 10%
  width 90%
  
  .development-characteristics-items
    clear both
    display block
    font-size $mainFontSize
    list-style none
    margin-bottom 80px
    margin-left -40px
    margin-top 50px

    .development-characteristics-item
      display inline-block
      margin 9px 0
      width 32.5%
      
.development-carousel
  background white
  
.development-drawings
  display flex
  margin 10px 0
  
  .drawing-selectors
    width 150px
    
    .drawing-selector
      background transparent
      color $darkGray
      cursor pointer
      font-size 33px
      font-weight $fontBold
      height 150px
      line-height 150px
      transition all .2s
      width 150px
      
      &:hover, &.active
        background $lightGray
        color white
      
  .drawing-picture
    background $orange
    color white
    flex-grow 1
    font-size 24px
    padding 40px 60px
    
.development-nearby-places
  display flex
  
  .location-map
    background $lighterGray
    flex-grow 1
    
  .points-of-interest
    padding 60px
    width auto
    
    >span
      font-size $sectionTitleSize
    
    ul
      list-style none
      margin-left -40px
      margin-top 20px
      
      li:not(:first-child)
        margin-top 5px
        
.development-public-transport
  padding 70px 20px 90px 20px
  
  .transport-title
    font-size $sectionTitleSize
    font-weight $fontSemiBold
    
  .transport-items-container
    center-block()
    margin-top 35px
    min-width 850px
    max-width 90%
    text-align center
    width auto
    
    .transport-items-column
      display inline-block
      max-width auto
      text-align left
      vertical-align middle
      width 500px
      
      .transport-item
        margin 8px 0

.development-built-by
  font-size 16px
  font-weight $fontBold
  text-align center
  padding 60px 20px