.developments-gray-divider
  padding 100px 0
  
  p
    center-block()
    max-width 650px
    width 80%

    .title
      color $gray
      display block
      font-size $mainTitle
      margin-bottom 20px

.developments-cover-divider-1,
.developments-cover-divider-2
  min-height 500px

  .text-part
    padding 100px 0

    img
      display block
      center-block()
      padding-bottom 40px
      width 60%
    
    .vre-inverse-button
      padding-bottom 14px
      padding-top 14px
  
.developments-cover-divider-2
  margin-top 120px