/*
- New styles for the views of developments.

- Important!
- These styles are complemented with 'developments.styl'

- More info:
- @soycamis, More Co.
*/

// Global styles.

.btn--cotizar
    display block
    max-width 150px
    color #ffffff
    font-size 12px
    font-weight 600
    letter-spacing 0.3px
    padding 12px 21px
    background-color #de7c27
    margin-top 23px
    text-align center
    margin-left auto
    margin-right auto

  .btn--cotizar:hover
    background-color #ffffff
    color #de7c27
    transition all .5s

// Cover
.vre-develop-cover
  background-image url('../img/vre/vre-desarrollo-beistegui.png')
  background-repeat no-repeat
  background-position center
  background-size contain
  padding-top 40px
  padding-bottom 78px

  .cover-title,
  .cover-subtitle
    text-align center
    color #2b2b2b

  .cover-title
    font-size 27px
    font-weight bold
    letter-spacing 1.5px
    text-transform uppercase

  .cover-subtitle
    font-size 17px
    letter-spacing 0.7px