.homepage-desktop
  display flex
  flex-direction column
  align-items center
  justify-content center
  max-width 480px

  & .homepage-desktop-logo
    display flex
    justify-content center
    align-items center 
    margin-bottom 27px

    & h1
      margin 0 0 0 .5em
      font-family 'Oswald'

    & img 
      width 53px

  & .homepage-desktop-text
    font-family 'Open Sans'
    font-weight $fontBold
    font-size 23px
    line-height 31px
    text-align center

.vre-division
    width 100%
    height 50px
    display flex
    justify-content flex-end

    & .right
      width 94%
      background-color #eeeeee

  
.homepage-cover
  background-image url('../img/homepage_cover.jpg')
  background-repeat no-repeat
  background-position center bottom
  simple-border('bottom', 4px, $orange)
  color white
  height 80vh
  min-height 480px
  position relative
  width 100%
  display flex
  justify-content center
  align-items center

  .vre-triangulo
    position absolute
    top 36%
    left 0
    width 0 
    height 0
    border-left 7px solid #fff
    border-top 7px solid transparent
    border-bottom 7px solid transparent

  .phone-box
    position relative
    text-align right
    width 100%

    .phone-box-content
      background $orange
      color white !important
      display inline-block
      height 63px
      font-weight $fontSemiBold
      padding 7px 20px
      right 0
      text-align center
      top 0
      width 240px

      .small-text
        display block
        // font-size 10.5px
        line-height 1.2

        img
          height 15px

      .big-text
        // font-size 23px
        line-height 1.3

    &.fix-in-top
      height 63px
      position fixed
      right 0
      top 0
      width auto
      z-index 11

  .homepage-mobile-logo
    display none
    center-block()
    font-family 'Oswald'
    font-size 42px
    min-width 280px
    padding-top 100px
    text-align center
    width 60%

    h1
      display inline-block
      font-size inherit
      margin 0

    img
      display block
      height 63px
      center-block()

  .homepage-menu
    center-block()
    margin-top 10px
    max-width 660px
    text-align center
    width 90%

    &:not(.fix-in-top) .menu-list
      margin-top 10px

    #navbar-trigger
      position absolute
      top -1000px
      right -100px

    .menu-trigger
      display none

    .logo-container
      font-family 'Oswald'
      font-size 44px

      img
        height 63px
        margin-right 10px
        vertical-align top

      .show-in-fixed
        display none

      h1
        display inline-block
        font-size inherit
        margin 0

    .menu-list
      font-size 15px
      font-weight $fontSemiBold
      list-style none
      margin-left -40px

      .responsive-menu-logo
        display none

      li
        display inline-block

        &.phone
          display none

        &:not(:first-child):not(:last-child)::before
          content ' | ' !important

        a
          display inline-block
          color white

    &.fix-in-top
      background white
      simple-border('bottom', 1px, #e5e5e5)
      height 63px
      margin-top 0 !important
      max-width 100%
      padding-top 8px
      position fixed
      text-align left
      top 0
      width 100%
      z-index 10

      .logo-container
        display inline-block
        height 42px
        margin-left 20px
        vertical-align middle

        h1
          display none

        .show-in-fixed
          display inline-block
          height 100%

          img
            height 100%

        .hide-in-fixed
          display none

      .menu-list
        display inline-block
        font-size 12px
        line-height 1
        margin-bottom 0
        margin-left -30px
        vertical-align middle

        ul
          margin-top 10px

        li
          &:not(:first-child)::before
            color #4a4a4a
            font-size 15px
            margin 0 3px
          a
            color #4a4a4a
            transition color 0.2s

            &:hover
              color $orange

          &.active a
            color $orange

  .white-box
    background white
    bottom -26px
    color black
    font-size 15px
    left 150px
    width 247px
    max-width 302px
    padding 18px 15px 20px 15px
    position absolute
    border-radius 2px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.22)

    .actions
      position relative

      & input 
        position absolute
        margin-left auto !important
        margin-right auto !important
        left 0 !important
        right 0 !important
        width 74.78px !important

    .text-left
      line-height 1.25
      padding-bottom .8em
      border-bottom 1px solid #eb944a

    #homepage-special-form,
    .hbspt-form
      font-size 11px
      margin-top 11px
      color #9b9b9b

      input:not([type="submit"])
        border-radius 3px
        background-color #f7f7f7
        display block
        padding 7px 8px
        width 97.5%
        min-width 0

        &:focus
          outline none

        &:not(:first-child)
          margin-top 10px

        &::placeholder
          font-weight $fontLight

      .hs_submit
        min-width 0
        width 100%
        margin-top 0

      button,
      [type="submit"]
        margin-top 8px
        padding 5px 29px 5px 12px
        background $orange
        simple-border('all', 1px, $orange)
        color white
        text-align left
        background-image url('../img/send.svg')
        background-repeat no-repeat
        background-position 82% 51%

        &:hover,
        &:active,
        &:focus
          background $orange
          color white !important
          background-image url('../img/send.svg')
          background-repeat no-repeat
          background-position 82% 51%

.homepage-developments
  font-size $sectionTitleSize
  margin-bottom 30px
  center-block()
  margin-top 80px
  text-align center
  width 90%

  .vre-filtro
    font-family 'Open Sans'
    font-weight $fontNormal
    font-style normal
    border-radius 2px
    position absolute
    top 3%
    left: 3%
    color #fff
    text-align center
    font-size 12px
    display flex
    justify-content center
    align-items center
    padding 3px 5px

    &.preventa
      background-color #ef8b2e

    &.inmediata
      background-color #ff8f61

    &.vendido
      background-color #ef662e

  h2
    font-size inherit
    margin 0

  &-items
    display flex
    justify-content flex-start
    flex-wrap wrap
    height auto
    center-block()
    margin-top 10px
    max-width 710px

    .item
      margin 0 11px
      margin-top 25px
      width 204px

      &-name
        margin-top 0
        width 100%

      &-picture
        background-position center
        background-size cover
        height 242px
        center-block()
        padding-bottom 0%
        width 204px
        position relative

  .vre-button
    border-width 1px
    font-size 13px
    margin-top 3.5em
    padding 0.9em 1.5em
    font-weight $fontSemiBold

.homepage-cover-divider-1
  .text-part
    img
      margin-bottom 45px
      margin-top 30px
      width 65%

    .outgoing-box
      background white
      font-size $mainTitle
      line-height 1.25
      margin-bottom 100px
      padding 30px 20px 30px 70px

  .image-part
    background-image url('../img/homepage_cover_divider_01.jpg')

.homepage-contact-divider
  line-height 1.25
  margin 80px 20px

  h2
    font-size $sectionTitleSize
    margin 0

  .vre-button
    margin-top 40px

.homepage-gray-divider
  padding-bottom 60px

  .iframe-selector
    background white
    display flex
    flex-wrap wrap
    justify-content center
    simple-border('topbottom', 1px, #cecdce)

  .iframe-option
    box-sizing initial
    color #4a4a4a
    font-size 14px
    padding 1.5em 0
    border-color #cecdce
    border-width 0 1px 0 0
    border-style solid
    text-align center
    width 157px

    &:first-child
      border-left-width 1px

    &:hover,
    &:active,
    &.active
      border-color $orange
      background $orange
      color white
      font-weight $fontBold

  span
    display block
    margin-top 45px
    width 90%
    center-block()

  .container-360
    center-block()
    margin-top 30px
    max-width 900px
    min-width 280px
    width 80%

.homepage-cover-divider-2
  align-items shrink
  display flex
  height 50vh
  min-height 450px

  .image-part
    background-image url('../img/homepage_cover_divider_02.jpg')
    flex-grow 1

  .text-part
    position relative
    text-align right
    min-width 500px
    width 35%

    div
      bottom 60px
      position absolute
      right 80px

      h2
        font-size inherit
        line-height 1.5
        margin 0

      .vre-button
        margin-top 20px

// Media queries
@media $mediumWindow
  .homepage-cover-divider-2 .text-part
    min-width 400px

@media $hybridMobileTablet
  .homepage-cover
    .phone-box .phone-box-content
      font-size 16px
      padding 9px 21px

      .big-text
        font-size 20px

    .white-box
      left 40px

@media screen and (max-width: 920px)
  .homepage-cover
    .homepage-mobile-logo
      display block

    .homepage-menu
      background white
      simple-border('bottom', 1px, #e5e5e5)
      height 63px
      margin-top 0 !important
      max-width 100%
      position fixed
      top 0
      width 100%
      z-index 11

      .menu-trigger
        background none
        border none
        color $orange
        display inline-block
        float left
        font-size 32px
        margin-left 16px
        margin-top 13px

      #navbar-trigger:checked ~ .menu-list
          left 0

      .logo-container
        display none !important

      .menu-list
        background #fafafa
        height 100vh
        margin-left 0
        margin-top 0 !important
        overflow-y auto
        position fixed
        left -280px
        text-align left
        top 0
        transition left 0.2s
        width 280px
        z-index 11

        .responsive-menu-logo
          display inline-block !important
          padding 20px 30px 30px 30px
          width auto

          img
            height 60px

        ul
          margin-top 10px
          padding 0

        li
          display block
          font-size 14px

          a
            color #4a4a4a
            display block
            padding 15px 30px

          &:not(.phone).active,
          &:not(.phone):hover
            background $orange

            a
              color white !important

          &.phone
            color darken($orange, 10%)
            display block
            font-size 16px
            position relative

            a
              color inherit
              display initial
              padding 0

            span, .fa, img
              display inline-block
              vertical-align middle

            .fa, img
              margin-right 10px

            img
              display inline-block
              width 20px

            .fa
              font-size 20px

            &.whatsapp
              margin-top 0
              padding 10px 30px

            &.office
              margin-top 10px
              padding 18px 30px

              &::before
                simple-border('top', 2px, darken($orange, 10%))
                content ' '
                display block
                position absolute
                left 30px
                top 0
                width 50px

          &:not(:first-child):not(:last-child)::before
            content '' !important
            margin 0 !important

@media $smallBase
  .homepage-developments,
  .homepage-contact-divider span
    font-size 19px

  .homepage-cover
    min-height 460px

  .homepage-contact-divider
    margin 55px 20px

  .homepage-cover-divider-1
    .text-part
      .outgoing-box
        font-size 22px
        margin-bottom 0
        padding 30px 20px
      img
        max-width 280px

  .homepage-cover-divider-2
    display block
    height auto
    min-height auto

    .text-part,
    .image-part
      display block
      width 100%

    .text-part
      min-width 320px

      div
        bottom initial
        left initial
        margin 40px 0
        position relative
        right initial
        text-align center

@media screen and (max-width: 980px)
  .homepage-developments-items .item
    width 45%

  .homepage-cover
    display block
    padding-top 100px

    & .homepage-desktop
      display block
      margin-left auto
      margin-right auto

    & .homepage-desktop-logo h1
      font-size 20px
    
    & .homepage-desktop-logo img
      width 40px

    & .homepage-desktop-text
      font-size 15px
      line-height 20px

@media $smallPortrait
  .homepage-cover
    height 50vh

  .homepage-cover-divider-1 .image-part,
  .homepage-cover-divider-2 .image-part
    height 40vh

@media $smallLandscape
  .homepage-cover-divider-1 .image-part,
  .homepage-cover-divider-2 .image-part
    height 70vh

@media screen and (max-width: 800px)
  .homepage-gray-divider .iframe-option
    box-sizing border-box
    border-width 0
    width 50%

    &:first-child
      border-left-width 0

    &:nth-child(n+3)
      border-top-width 1px
      border-top-color #cecdce

    &:nth-child(2n)
      border-left-width 1px

    &:last-child
      width 100%

  .homepage-cover
    display block
    padding-top 100px
    

    & .homepage-desktop
      display block
      margin-left auto
      margin-right auto

    & .homepage-desktop-logo h1
      font-size 20px
    
    & .homepage-desktop-logo img
      width 40px

    & .homepage-desktop-text
      font-size 15px
      line-height 20px

@media screen and (max-width: 500px)
  .homepage-developments-items .item
    width 100%

  .homepage-cover
    display block
    padding-top 100px

    & .homepage-desktop
      display block
      margin-left auto
      margin-right auto

    & .homepage-desktop-logo h1
      font-size 20px
    
    & .homepage-desktop-logo img
      width 40px

    & .homepage-desktop-text
      font-size 15px
      line-height 20px

@media screen and (max-width: 480px)
  .homepage-cover
    display block
    padding-top 100px

    & .homepage-desktop
      display block
      margin-left auto
      margin-right auto

    & .homepage-desktop-logo h1
      font-size 20px
    
    & .homepage-desktop-logo img
      width 40px

    & .homepage-desktop-text
      font-size 15px
      line-height 20px

  .homepage-cover .white-box
    left 50%
    padding 18px
    width 280px
    transform translateX(-50%)

@media screen and (max-width: 320px)
  .homepage-cover
    height 60vh
    display block
    padding-top 100px

    & .homepage-desktop
      display block
      margin-left auto
      margin-right auto

    & .homepage-desktop-logo h1
      font-size 20px
    
    & .homepage-desktop-logo img
      width 40px

    & .homepage-desktop-text
      font-size 15px
      line-height 20px

    .homepage-menu
      margin-top 20px
