.visit-us-form
  center-block()
  max-width 780px
  padding-bottom 50px
  padding-top 80px
  text-align center
  width 80%
  
  .title
    font-size 24px
    
  .form-columns
    margin-top 50px
    
    .form-column
      display inline-block
      margin 0 1.3%
      width 46%
      
      .vre-input
        width 100%

        &::placeholder
          font-weight $fontLight
          
      *:not(:first-child)
        margin-top 15px
        
  .vre-inverse-button
    margin-top 70px
    padding-bottom 10px
    padding-top 10px
    