.visit-us-form
  center-block()
  max-width 780px
  padding-bottom 50px
  padding-top 80px
  text-align center
  width 80%
  
  .title
    font-size 24px
    
  .form-columns
    margin-top 50px
    
    .form-column
      display inline-block
      margin 0 1.3%
      vertical-align top
      width 46%
      
      .vre-input
        width 100%

        &::placeholder
          font-weight $fontLight
          
      textarea.vre-input
        height 387px
          
      *:not(:first-child)
        margin-top 15px
        
      #visit-us-datepicker div
        background #F1BC8B
        color white
        padding-bottom 0
        padding-top 3px
        
        table
          font-family 'Open Sans'
          center-block()
          width 80%
          
          thead tr:nth-child(2) th
            line-height 2.2
            
          .next, .prev, .picker-switch
            background transparent
            
            &:hover
              background $orange
              
          .picker-switch
            font-weight $fontNormal
            font-size 20px

          .decade, .year, .month, .day
            background $orange
            
            &.active, &:hover
              background lightness($orange, 50%)
          
          .day
            simple-border('all', 5px, #F1BC8B)
            border-radius 12px 12px 9px 12px !important
            
            &.old, &.new
              background transparent
              
              &:hover
                background lightness($orange, 70%)

  .vre-inverse-button
    margin-top 70px
    padding-bottom 10px
    padding-top 10px
    