{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="{% static "css/bower_dependencies.min.css" %}"
      rel="stylesheet"/>
  <link href="{% static "css/main.min.css" %}"
      rel="stylesheet"/>
  <link rel="shortcut icon" type="image/x-icon"
      href="{% static "favicon.png" %}"/>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block content %}
	{% endblock %}
  {% include "footer.html" %}
  <script src="{% static "js/bower_dependencies.min.js" %}"></script>
	<script src="{% static "js/app.min.js" %}"></script>
	<script>
		$(document).on("keypress", "form", function(event) {
		    return event.keyCode != 13;s
		});

		$('#btn-newsletter').click(function(){
	    $.ajax({
		    url: "{% url 'landing:suscribe' %}",
	      type : 'POST',
		    data: $('#footer-newsletter-form').serialize(),
		    success: function(data){
			    console.log(data);
			    alert('success!');
			  },
			  error: function(data){
          console.log(data);
			    alert('error!');
			  }
	    });
		});
	</script>
</body>
</html>