{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="{% static "css/bower_dependencies.min.css" %}"
      rel="stylesheet"/>
  <link href="{% static "css/main.min.css" %}"
      rel="stylesheet"/>
  <link rel="shortcut icon" type="image/x-icon"
      href="{% static "favicon.png" %}"/>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block content %}
	{% endblock %}
  {% include "footer.html" %}
</body>
</html>