{% load static from staticfiles %}
<footer class="{% if request.path == "/" %}orange-footer{% else %}gray-footer{% endif %}">
  <div class="footer-container">
    <div class="footer-col">
      <span class="newsletter-span">Suscribete a nuestro newsletter</span>
      <!--
      <form id="footer-newsletter-form">
        <span>Suscribete a nuestro newsletter</span>
        <input type="email" name="email" placeholder="Correo electrónico" />
        <input type="hidden" name="source" value="newsletter"/>
        {% csrf_token %}
        <button type="button" id="btn-newsletter">Enviar</button>
      </form>
      -->
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          css: '',
          portalId: '2469317',
          formId: '91b63c0e-33bc-459c-bf47-0e6819c792d7',
          onFormSubmit: function ($form) {
            var data = $form.serializeArray();
            data.push({name: 'source', value: 'newsletter'});
            $.ajax({
              url: '{% url "newsletter:suscribe" %}',
              type: 'POST',
              data: data,
              beforeSend: function () {
                ga('send', 'event', 'NewsFoot', 'ok');
              },
              success: function (data) {
                if (data.status === 'subscribed') {
                  $('#newsletter-modal').removeClass('error').addClass('success');
                  $('#newsletter-modal .modal-title').text('Nos pondremos en contacto contigo a la brevedad.');
                  $('#newsletter-modal .modal-body').text('Ya estas suscrito a nuestro Newsletter.');
                } else {
                  $('#newsletter-modal').removeClass('success').addClass('error');
                  $('#newsletter-modal .modal-title').text('Ocurrió un error');
                  $('#newsletter-modal .modal-body').html('Tu suscripción no pudo llevarse a cabo, intentalo mas tarde');
                }
              },
              error: function () {
                $('#newsletter-modal').removeClass('success').addClass('error');
                $('#newsletter-modal .modal-title').text('Ocurrió un error');
                $('#newsletter-modal .modal-body').text('Ocurrió un error inesperado y tu suscripción no pudo llevarse a cabo.');
              },
              complete: function () {
                $('#newsletter-modal').modal('show');
              }
            });
          }
        });
      </script>

      <div>
        <a href="{% url 'xauth:login' %}">Inversionistas</a> <br>
        <a href="{% url 'landing:privacy_notice' %}">Aviso de privacidad</a> <br>
        <a href="{% url 'landing:conditions_terms' %}">Términos y condiciones</a>
      </div>
    </div>
    <div class="footer-col text-center">
      <img src="{% static "img/icons/vre_full_white_logo.png" %}" alt="Inmobiliaria VRE Mexico" class="footer-logo">
      <span class="footer-logo-legend">&copy; VRE {% now 'Y' %}</span>
    </div>
    <div class="footer-col">
      <div class="footer-contact">
        <div class="footer-contact-element">
          <img src="{% static "img/icons/mail_icon.png" %}" alt="Email icon">
          <p>hola@vre.com.mx</p>
        </div>
        <div class="footer-contact-element">
          <img src="{% static "img/icons/phone_icon.png" %}" alt="Phone icon">
          <p>(52) 55 8437 2040</p>
        </div>
        <div class="footer-contact-element">
          <span class="fa fa-whatsapp"></span>
          <p>+52 1 55 5939 6716</p>
        </div>
        <div class="footer-contact-element">
          <i class="fa fa-facebook"
             style="font-size: 17px; height: 16px;margin-right: 18px;margin-top: 2px;width: 20px;"></i>
          <p>
            <a href="https://www.facebook.com/vremexico">
              /vreméxico
            </a>
          </p>
        </div>
        <div class="footer-contact-element">
          <i class="fa fa-instagram"
             style="font-size: 17px; height: 16px;margin-right: 18px;margin-top: 2px;width: 20px;"></i>
          <p>
            <a href="https://www.instagram.com/vremexico/">
              /vreméxico
            </a>
          </p>
        </div>
        <div class="footer-contact-element">
          <img src="{% static "img/icons/home_icon.png" %}" alt="Address icon">
          <p>
            <span>Sinaloa #195, Colonia Roma Norte</span>
            <span>Cuauhtémoc, CDMX.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
