{% load static from staticfiles %}
<footer class="{%if request.path == "/"%}orange-footer{%else%}gray-footer{%endif%}">
  <div class="footer-container">
    <div class="footer-col">
      <form id="footer-newsletter-form">
        <span>Suscribete a nuestro Newsletter</span>
        <input type="email" name="email" placeholder="Correo electrónico" />
        {% csrf_token %}
        <button type="button" id="btn-newsletter">Enviar</button>
      </form>
      <div>
        <a href="#">Aviso de privacidad</a> <br>
        <a href="#">Términos y Condiciones</a>
      </div>
    </div>
    <div class="footer-col text-center">
      <img src="{% static "img/icons/vre_full_white_logo.png" %}" alt="VRE Logo" class="footer-logo">
      <span class="footer-logo-legend">&copy; VRE 2016</span>
    </div>
    <div class="footer-col">
      <div class="footer-contact">
        <div class="footer-contact-element">
          <img src="{% static "img/icons/mail_icon.png" %}" alt="Email icon">
          <p>contacto@vre.com.mx</p>
        </div>
        <div class="footer-contact-element">
          <img src="{% static "img/icons/phone_icon.png" %}" alt="Phone icon">
          <p>(52) 55 8852 7468</p>
        </div>
        <div class="footer-contact-element">
          <img src="{% static "img/icons/home_icon.png" %}" alt="Address icon">
          <p>
            <span>Metrópoli Patriotismo, </span>
            <span>Calle 11 de Abril #201, </span>
            <span>San Pedro de los Pinos, CDMX.</span></p>
        </div>
      </div>
    </div>
  </div>
</footer>