{% load static from staticfiles %}
<footer>
  <div class="footer-container">
    <form class="footer-col" id="footer-newsletter-form">
      Suscribete a nuestro Newsletter
      <input type="email" name="email" placeholder="Correo electrónico" />
	    {% csrf_token %}
	    <button type="button" id="btn-newsletter">Suscribir!</button>
    </form>
    <div class="footer-col text-center">
      <img src="{% static "img/icons/icons-03.png" %}" alt="VRE Logo" class="footer-logo">
      <span class="footer-logo-legend">&copy; VRE 2016</span>
    </div>
    <div class="footer-col text-right">
      <a href="#">Aviso de privacidad</a> <br>
      <a href="#">Términos y Condiciones</a>
    </div>
  </div>
</footer>