{% load static from staticfiles %}
<div class="navbar-menu">
  <a href="/"><img class="navbar-menu-logo" src="{% static "img/icons/vre_orange_logo.png" %}" alt="VRE Logo" /></a>
  <ul class="navbar-menu-list">
    <li><a href="/">INICIO</a></li>
    <li><a href="{% url 'landing:developments' %}">DESARROLLOS</a></li>
    <li><a href="{% url 'landing:about_us' %}">NOSOTROS</a></li>
    <li><a href="{% url 'xauth:login' %}">INVERSIONISTAS</a></li>
    <li><a href="{% url 'landing:contact' %}">CONTACTO</a></li>
    <li><a href="{% url 'landing:visit_us' %}">VISÍTANOS</a></li>
  </ul>
  <div class="navbar-menu-orange-box">
    55 8852 7468
  </div>
</div>