{% load static from staticfiles %}
<div class="navbar-menu">
  <img class="navbar-menu-logo" src="{% static "img/icons/icons-05.png" %}" alt="VRE Logo" />
  <ul class="navbar-menu-list">
    <li><a href="#">INICIO</a></li>
    <li><a href="#">DESARROLLOS</a></li>
    <li><a href="#">NOSOTROS</a></li>
    <li><a href="#">INVERSIONISTAS</a></li>
    <li><a href="#">CONTACTO</a></li>
  </ul>
  <a href="#"><div class="navbar-menu-orange-box">
    <span class="big-text">55 8852 7468</span>
    Visita nuestro Showroom
  </div></a>
</div>