{% load static from staticfiles %}
{% url 'landing:about_us' as about_us %}
{% url 'xauth:login' as login %}
{% url 'landing:contact' as contact %}
{% url 'landing:visit_us' as visit_us %}
{% url 'landing:developments' as developments %}
{% url 'landing:cotizar' as cotizar %}

<div class="navbar-menu">
  <input type="checkbox" id="navbar-trigger">
  <label for="navbar-trigger" class="menu-trigger fa fa-bars"></label>
  <a href="/"><img class="navbar-menu-logo" src="{% static "img/icons/vre_orange_logo.png" %}" alt="VRE Logo" /></a>
  <div class="navbar-menu-list">
    <a href="/" class="responsive-menu-logo"><img src="{% static "img/icons/vre_orange_logo.png" %}" alt="VRE Logo" /></a>
    <ul>
      <li {%if request.path == "/" %}class="active"{%endif%}><a href="/">INICIO</a></li>
      <li {%if develop or request.path == developments %}class="active"{%endif%}><a href="{{developments}}">DESARROLLOS</a></li>
      <li {%if request.path == cotizar %}class="active"{%endif%}><a href="{{cotizar}}">COTIZAR</a></li>
      <li {%if request.path == visit_us %}class="active"{%endif%}><a href="{{visit_us}}">VISÍTANOS</a></li>
      <li {%if request.path == contact %}class="active"{%endif%}><a href="{{contact}}">CONTACTO</a></li>
      <li><a href="http://blog.vre.com.mx">BLOG</a></li>
      <li {%if request.path == about_us %}class="active"{%endif%}><a href="{{about_us}}">NOSOTROS</a></li>
      {%if request.user.is_authenticated%}<li><a href="{% url 'xauth:logout' %}">LOGOUT</a></li>{%endif%}
      <li class="phone office"><a href="tel:+525588527468"><img src="{% static "img/icons/orange_phone_icon.png" %}" alt="Phone icon"><span>(52) 55 8437 2040</span></a></li>
      <li class="phone whatsapp"><i class="fa fa-whatsapp"></i><span>+52 1 55 5939 6716</span></li>
    </ul>
  </div>
  <div class="navbar-menu-orange-box">
    <span class="small-text">
      <img src="{% static "img/icons/phone_icon.png" %}" alt="Phone icon">
      <span>(52) 55 8437 2040</span>
    </span>
    <span class="big-text">
      <span class="fa fa-whatsapp"></span>
      <span>+52 1 55 5939 6716</span>
    </span>
  </div>
</div>
